<script type="text/javascript">
	var proyectoIdAux = "<%= project.id %>"; 
</script>
<script type="text/javascript" src="/js/src/Controller/ProjectController.jquery.js"></script>
<script type="text/javascript" src="/js/src/Controller/ProjectController.d3.js"></script>

<div id="ProjectControllerMain" ng-controller="ProjectController as vm">

	<!-- Inicio contenido -->
	<div class="row">

		<!-- Inicio Pestañas -->
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a href="#participantes">Proyecto: {{ vm.miProyecto.name }}</a></li>
				<li class="tab col s3"><a href="#dialogo">Diálogo</a></li>
				<li class="tab col s3"><a class="active" href="#mensajes">Mensajes</a></li>
				<li class="tab col s3"><a href="#kanban">Kanban</a></li>
			</ul>
		</div>
		<!-- Fin Pestañas -->

		<!-- Inicio Participantes -->
		<div id="participantes" class="col s12">
			<div class="container">

				<!-- Inicio agregar usuario -->
				<%if(session.User.email == project.owner_email) { %>
				<div class="row">
					<div class="col s12">
						<p class="green-text">Estas a cargo del proyecto, puedes editarlo <a class="modal-trigger" href="#modalEditarProyecto" modal>aquí</a></p> 
					</div>
				</div>
				<div class="row">
					<div class="col s8">
						<selectize config="vm.miListaUsuariosSelectizeConfig" options="vm.miListaUsuarios" ng-model="vm.miListaUsuariosSeleccionado"></selectize>
					</div>
					<div class="col s4">
               			<button type="submit" class="btn-large col s12 light-green waves-effect waves-light" ng-click="vm.onBtnAgregarParticipanteClick()">Agregar usuario</button> 
               		</div>
            	</div>
            	<% } %>
            	<!-- Inicio agregar usuario -->

            	<div class="row"> 
            		<div class="col s1">
            			<br />
            			<i class="light-green-text material-icons prefix">search</i>
            		</div>
            		<div class="input-field col s4">
            			<input id="buscarParticipante" name="buscarParticipante" type="search" ng-model="vm.miBuscarParticipante" />
            			<label class="green-text" for="buscarParticipante">Buscar participante</label>
            		</div>
            	</div>

            	<div class="row">
            		<div class="col s12">
            			
            			<!-- Tabla -->
            			<div id="tabla_participantes">
            				<table class="striped  responsive-table">
            					<thead>
            						<tr>
            							<th class="light-green-text" > </th>
            							<th data-field="nombre" class="light-green-text">Nombre </th>
            							<th data-field="initials" class="light-green-text">Iniciales </th>
            							<th data-field="correo" class="light-green-text">Correo </th>
            							<th data-field="rut" class="light-green-text"> Rut </th>
            							<th data-field="owner" class="light-green-text"> PMO</th>
            							<th data-field="encargado" class="light-green-text"> Encargado</th>
            							<th data-field="owner" class="light-green-text"> Rol</th>
            						</tr>
            					</thead>
            					<tbody>
	            					<tr ng-repeat="x in vm.miListaParticipantes | filter:vm.miBuscarParticipante" 
	            						ng-model="vm.miListaParticipantes">
	            						<td ><img ng-src="{{x.imgurl}}" alt="" class="circle " height ="40px" weight="40px" /></td>
	            						<td class="light-green-text"> {{ x.firstname }} {{ x.lastname }}</td>
	            						<td class="light-green-text"> {{ x.initials }} </td>
	            						<td class="light-green-text"> {{ x.email  }}</td>
	            						<td class="light-green-text"> {{x.rut}} </td>
	            						<td><i class= "green-text small material-icons prefix" ng-if="owner_email==x.email">done</i></td>
	            						<td><i class= "green-text small material-icons prefix" ng-if="owner_email==x.email">done</i></td>
	            						<td class="light-green-text">Desarrollador Front end</td>
	            					</tr>
            					</tbody>
            				</table>
            			</div>
            			<!-- Tabla --> 
            		</div>

            	</div>

			</div>
		</div>
		<!-- Fin Participantes -->

		<!-- Inicio Mapa del diálogo -->
		<div id="dialogo" class="col s12">

			<div id="main" class="main">
			</div>

  			<div class="resizable-panel-container" ng-show="vm.miMensajeAnclado.id"> 
  				<div class="resizable-panel-left">
  					<div class="row">
  						<div class="col s6">
  							<p><strong>{{ vm.miMensajeAnclado.usuario.initials }}</strong> dijo:</p>
  						</div>
  						<div class="col s3 offset-s3">
  							<span tooltipped 
  								data-delay="50" 
  								data-position="left" 
  								data-tooltip="Unir al Kanban">
  								<a class="btn-floating light-green valign-wrapper" href="#modalMensajeKanban" 
									modal 
									ng-click="vm.miMensajeSeleccionado = vm.miMensajeAnclado">
									<img alt="Kanban" height="33px" src="/images/kanbanicon.png" width="33px" />
								</a>
							</span>
							<span tooltipped 
  								data-delay="50" 
  								data-position="left" 
  								data-tooltip="Responder">
								<a class="btn-floating waves-effect waves-light light-green modal-trigger" href="#modalMensaje" 
									modal 
									ng-click="vm.miMensajeSeleccionado = vm.miMensajeAnclado">
									<i class="small material-icons ">reply</i>
								</a>
							</span>
  						</div>
	  				</div>
	  				<div class="row">
  						<div class="col s2">
							<img alt="Usuario" class="circle responsive-img" ng-src="{{ vm.miMensajeAnclado.usuario.imgurl }}" />
						</div>
  						<div class="col s10">
  							{{ vm.miMensajeAnclado.name }}
  						</div>
  					</div>
  				</div>
  				<div class="resizable-panel-right">
  					<div ng-show="vm.miMensajeAncladoNavegar != ''">
						<div class="row">
	  						<div class="col s6">
	  							<p><strong>{{ vm.miMensajeAncladoNavegar.usuario.initials }}</strong> dijo:</p>
	  						</div>
	  						<div class="col s3 offset-s3">
	  							<span tooltipped 
									data-delay="50" 
									data-position="left" 
									data-tooltip="Unir al Kanban">
	  								<a class="btn-floating light-green valign-wrapper" href="#modalMensajeKanban" 
										modal 
										ng-click="vm.miMensajeSeleccionado = vm.miMensajeAncladoNavegar">
										<img alt="Kanban" height="33px" src="/images/kanbanicon.png" width="33px" />
									</a>
								</span>
								<span tooltipped 
  									data-delay="50" 
  									data-position="left" 
  									data-tooltip="Responder">
									<a class="btn-floating waves-effect waves-light light-green modal-trigger" href="#modalMensaje" 
										modal 
										ng-click="vm.miMensajeSeleccionado = vm.miMensajeAncladoNavegar">
										<i class="small material-icons ">reply</i>
									</a>
								</span>
	  						</div>
	  					</div>
	  					<div class="row">
	  						<div class="col s2">
								<img alt="Usuario" class="circle responsive-img" ng-src="{{ vm.miMensajeAncladoNavegar.usuario.imgurl }}" />
							</div>
	  						<div class="col s10">
	  							{{ vm.miMensajeAncladoNavegar.name }}
	  						</div>
  						</div>
  					</div>
            	</div>
  			</div>

		</div>
		<!-- Fin Mapa del diálogo -->

		<!-- Inicio Mensajes -->
		<div id="mensajes" class="col s12">

			<!-- Inicio Buscar Mensaje -->
			<div class="container">
				<div class="row">
					<div class="col s1">
						<br />
						<i class="light-green-text material-icons">search</i>
					</div>
					<div class="col s11 input-field">
						<input name="buscarMensaje" type="text" ng-model="vm.miMensajeBuscar">
               			<label for="buscarMensaje">Buscar mensaje</label>
					</div>
				</div>
			</div>
			<!-- Fin Buscar Mensaje -->

			<!-- Inicio Lista Mensajes -->
			<div class="col s12 conscroll" scroll-glue>
				
				<!-- Inicio repetir mensaje -->
				<div class="row" ng-repeat="mensaje in vm.miMensaje | filter: vm.miMensajeBuscar">
					<div ng-class="{ 'col s8 offset-1 bubble': mensaje.cssvalue, 'col s8 offset-s4 bubble2': !mensaje.cssvalue }">
						<div class="col s11">
							<h6>{{ mensaje.createdAt | date:'M/d/yyyy HH:mm:ss' }}</h6>
						</div>
						<div class="col s1" 
							tooltipped 
							data-delay="50" 
							data-position="left" 
							data-tooltip="Unir al Kanban"> 
							<a class="btn-floating light-green valign-wrapper" href="#modalMensajeKanban" 
								modal 
								ng-click="vm.miMensajeSeleccionado = mensaje">
								<img alt="Kanban" height="33px" src="/images/kanbanicon.png" width="33px" />
							</a>
						</div>
						<div class="col s11">
							<div class="col s2">
								<div class="col s12">
									<img alt="Usuario" class="circle responsive-img" ng-src="{{ mensaje.usuario.imgurl }}" />
								</div>
								<div class="col s12 offset-s1"><span class="white-text center">{{ mensaje.usuario.initials }}</span></div>
							</div>
							<div class="col s10">
								<div class="col s12"><span class="white-text">{{ mensaje.tipo }}</span></div>
								<div class="col s12 textito"><h6 class="">{{ mensaje.name }}</h6></div>
							</div>
						</div>
						<div class="col s1" 
							tooltipped 
							data-delay="50" 
							data-position="left" 
							data-tooltip="Responder">
							<br />
							<a class="btn-floating waves-effect waves-light light-green modal-trigger" href="#modalMensaje" 
								modal 
								ng-click="vm.miMensajeSeleccionado = mensaje">
								<i class="small material-icons ">reply</i>
							</a>
						</div>
					</div>
				</div>
				<!-- Fin repetir mensaje -->

			</div>
			<!-- Fin Lista Mensajes -->
		</div>
		<!-- Fin Mensajes -->

		<!-- Inicio Kanban -->
		<div id="kanban" class="col s12" ng-cloak>
			<br />
			<div class="col s3">
				<div class="col s12 contenedorkanbanheader"> 
					<div class="col s10">NUEVA</div> 
					<div class="col s1"> 
						<a class="modal-trigger" href="#modalKanbanTarea"> 
							<i class="light-green-text material-icons prefix tooltipped" 
								data-delay="50" 
								data-position="top" 
								data-tooltip="Crear Tarea">add_circle</i>
						</a>
					</div>
				</div> 
				<div class="col s12 contenedorkanbanheader"> 
					<div class="col s1"> 
						<br /> 
						<i class="light-green-text material-icons prefix">search</i>
					</div>
					<div class="col 11">
						<input type="text" ng-model="vm.filtro1" />
					</div>
				</div>
				<div class="col s12 contenedorkanban" id="new" 
					data-drop="true" 
					data-jqyoui-options="optionsList1" 
					jqyoui-droppable="{ multiple: true, onDrop:'vm.onDrop' }"
					ng-model="vm.list1">
					<div class="hoverable kanbanbubble" id="kanban1" 
						data-drag="{{ item.drag }}" 
						data-jqyoui-options="{ helper: 'clone' }" 
						jqyoui-draggable="{ index: {{ $index }}, animate: true }" 
						ng-model="vm.list1" 
						ng-repeat="item in vm.list1 | filter: vm.filtro1" 
						ng-show="item.title">
						<div class="row">
							<div class="col s12 kanbanred" 
								ng-if="item.associated == true && item.element != ''"> 
								<div class="col s12 white-text"><h6>{{ item.element }}</h6></div> 
								<!--<div class="col s2 ">  <i class="material-icons black-text prefix">edit_mode</i></div>-->
							</div>
							<!--<div class="col s2"><i class="material-icons black-text prefix">visibility</i></div>-->
							<div class="col s4"> 
								<div class="col s12" ng-show="item.usuario.imgurl">
									<br />
									<img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
								</div>
								<div class="col s12">{{ item.usuario.initials }}</div>
							</div>
							<div class="col s8 textito"><h6>{{ item.title }}</h6></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col s3">
				<div class="col s12 contenedorkanbanheader">HACIENDO</div>
				<div class="col s12 contenedorkanbanheader">
					<div class="col s1">
						<br />
						<i class="material-icons light-green-text prefix">search</i>
					</div>
					<div class="col 11" id="doing">
						<input type="text" ng-model="vm.filtro2" />
					</div>
				</div>
				<div class="col s12 contenedorkanban" 
					data-drop="true" 
					data-jqyoui-options="optionsList2" 
					jqyoui-droppable="{ multiple: true, onDrop: 'vm.onDrop' }" 
					ng-model="vm.list2">
					<div class="kanbanbubble hoverable" 
						data-drag="{{ item.drag }}" 
						data-jqyoui-options="{ helper: 'clone' }" 
						jqyoui-draggable="{ index: {{ $index }}, animate: true }" 
						ng-model="vm.list2" 
						ng-repeat="item in vm.list2 | filter: vm.filtro2" 
						ng-show="item.title">
						<div class="row">
							<div class="col s12 kanbanred" ng-if="item.associated == true && item.element != ''">
								<div class="col s12  white-text"> <h6>{{ item.element }}</h6></div>
								<!--<div class="col s2 ">  <i class="material-icons black-text prefix">edit_mode</i></div>--> 
                  			</div>
                  			<div class="col s4"> 
                  				<div class="col s12" ng-show="item.usuario.imgurl">
                  					<br />
                  					<img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
                  				</div>
                  				<div class="col s12">{{ item.usuario.initials }}</div>
                  			</div>
                  			<div class="col s8 textito"><h6>{{ item.title }}</h6></div>
                  		</div>
                  	</div>
				</div>
			</div>

			<div class="col s3">
				<div class="col s12 contenedorkanbanheader">EN PRUEBAS</div>
				<div class="col s12 contenedorkanbanheader">
					<div class="col s1">
						<br />
						<i class="material-icons light-green-text prefix">search</i>
					</div>
					<div class="col 11">
						<input type="text" ng-model="vm.filtro3" />
					</div>
				</div>
				<div class="col s12 contenedorkanban" id="testing" 
					data-drop="true" 
					data-jqyoui-options="optionsList3" 
					jqyoui-droppable="{ multiple: true, onDrop: 'vm.onDrop' }" 
					ng-model="vm.list3">
					<div class="hoverable kanbanbubble kanbanyellow" 
						data-drag="{{ item.drag }}" 
						data-jqyoui-options="{ helper: 'clone' }" 
						jqyoui-draggable="{ index: {{ $index }}, animate: true }"
						ng-model="vm.list3" 
						ng-repeat="item in vm.list3 | filter: vm.filtro3" 
						ng-show="item.title">
						<div class="row">
							<div class="col s12 kanbanred" ng-if="item.associated == true && item.element != ''">
								<div class="col s12  white-text"><h6>{{ item.element }}</h6></div>
								<!--<div class="col s2 ">  <i class="material-icons black-text prefix">edit_mode</i></div>--> 
							</div>
							<div class="col s4"> 
								<div class="col s12" ng-show="item.usuario.imgurl">
									<br />
									<img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
								</div>
								<div class="col s12"> {{item.usuario.initials}}</div>
							</div>
							<div class="col s8 textito"><h6>{{item.title}}</h6></div>
						</div>
					</div>
				</div> 
			</div>

			<div  class="col s3">
				<div class="col s12 contenedorkanbanheader">TERMINADA</div>
				<div class="col s12 contenedorkanbanheader"> 
					<div class="col s1">
						<br />
						<i class="material-icons light-green-text prefix">search</i>
					</div>
					<div class="col 11">
						<input type="text" ng-model="vm.filtro4" />
					</div>
				</div>
				<div class="col s12 contenedorkanban" id="done" 
					data-drop="true" 
					data-jqyoui-options="optionsList4" 
					jqyoui-droppable="{ multiple: true, onDrop: 'vm.onDrop' }" 
					ng-model="vm.list4">
					<div class="hoverable kanbanbubble kanbanyellow" 
						data-drag="{{ item.drag }}" 
						data-jqyoui-options="{ helper: 'clone' }" 
						jqyoui-draggable="{ index: {{ $index }}, animate: true }" 
						ng-model="vm.list4" 
						ng-repeat="item in vm.list4 | filter: vm.filtro4" 
						ng-show="item.title">
						<div class="row">
							<div class="col s12 kanbanred" ng-if="item.associated == true && item.element != ''">
								<div class="col s12  white-text"><h6>{{ item.element }}</h6></div>
								<!--<div class="col s2 ">  <i class="material-icons black-text prefix">edit_mode</i></div>--> 
							</div>
							<div class="col s4">
								<div ng-show="item.usuario.imgurl" class="col s12">
									<br />
									<img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
								</div>
								<div class="col s12">{{ item.usuario.initials }}</div>
							</div>
							<div class="col s8 textito"><h6>{{ item.title }}</h6></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Fin Kanban -->

	</div>
	<!-- Fin Contenido -->

	<!-- Inicio modal proyecto -->
	<div class="modal" id="modalEditarProyecto">
		<div class="modal-content">
			<h4 class="green-text">Editar el proyecto</h4>

			<form name="formEditarProyecto" novalidate>

				<div class="row">
					<div class="col s1">
						<br /><i class="green-text material-icons prefix small">mode_edit</i>
					</div>
					<div class="input-field col s6">
						<input id="editarProyectoNombre" name="editarProyectoNombre" type="text" placeholder="{{ vm.miProyecto.name }}" ng-maxlength="25" ng-minlength="3" ng-model="vm.miProyectoEditar.nombre" />
						<label for="editarProyectoNombre">Nombre del proyecto</label>
					</div>
					<div class="col s5 centerme red-text" role="alert" ng-messages="formEditarProyecto.editarProyectoNombre.$error">
						<div ng-message="minlength">Mínimo 3 caracteres</div>
						<div ng-message ="maxlength">Nombre muy largo</div>
					</div>
				</div>

				<div class="row">
					<div class="col s1">
						<br />
						<i class="green-text material-icons prefix small">date_range</i>
					</div>
					<div class="col s6">
						<input input-date 
							clear="Limpiar" 
							close="Cerrar" 
							container="body" 
							disable="vm.miDisable" 
							format="dd/mm/yyyy" 
							id="editarProyectoFechaLimite" 
							min="{{ vm.miMinDate }}" 
							max="{{ vm.miMaxDate }}" 
							months-full="{{ vm.miMonth }}" 
							months-short="{{ vm.miMonthShort }}" 
							name="editarProyectoFechaLimite" 
							on-close="onClose()" 
							on-open="onOpen()" 
							on-render="onRender()" 
							on-set="onSet()" 
							on-start="onStart()" 
							on-stop="onStop()" 
							placeholder="{{ vm.miProyecto.finish_date | date:'M/d/yyyy' }}" 
							select-years="15" 
							today="Hoy" 
							type="text" 
							weekdays-full="{{ vm.miWeekdaysFull }}" 
							weekdays-letter="{{ vm.miWeekdaysLetter }}" 
							weekdays-short="{{ vm.miWeekdaysShort }}" 
							ng-model="vm.miProyecto.fechaLimite" />
							<label for="editarProyectoFechaLimite">Fecha límite del proyecto</label> 
					</div>
				</div>
			</form>
		</div>

		<div class="modal-footer">
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="vm.onBtnActualizarProyectoClick()" 
				ng-show="formEditarProyecto.$valid">Aceptar</a>
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!">Cancelar</a>
		</div>
	
	</div>
	<!-- Fin Modal Proyecto -->

	<!-- Inicio modal mensaje -->
	<div class="modal bottom-sheet" id="modalMensaje">
		<div class="modal-content">
			<div class="row">
				<div class="col s6"><h6>{{ vm.miMensajeSeleccionado.createdAt | date:'M/d/yyyy HH:mm:ss' }}</h6></div>
				<div class="col s2 offset-s4">
					<button class="btn-flat green white-text" ng-click="vm.onBtnMensajeEnviarClick()" ng-show="formmensaje.$valid">Responder</button>
				</div>
			</div>

			<div class="row">
				<div class="card col s6 heightmodal2">
					<div class="col s12">
						<div class="col s2">
							<img alt="Usuario" class="circle responsive-img" ng-src="{{ vm.miMensajeSeleccionado.usuario.imgurl }}" />
						</div>
						<div class="col s6">
							<h6>{{ vm.miMensajeSeleccionado.usuario.firstname }} ({{ vm.miMensajeSeleccionado.usuario.initials }}) Dijo:</h6>
						</div>
					</div>
					<div class="col s12 ">
						<h6 class="">{{ vm.miMensajeSeleccionado.name }}</h6>
					</div>
				</div>

				<div class="card col s6 heightmodal2" ng-cloak>
					<div class="col s12">
						<div class="col s2">
							<img alt="Usuario" class="circle responsive-img" ng-src="{{ vm.miUsuario.imgurl }}" />
						</div>
						<div class="col s4">
							<p>{{ vm.miUsuario.firstname }} ({{ vm.miUsuario.initials }})</p>
						</div>
						<div class="col s6">
							<selectize config="vm.miMensajeSelectizeConfig" id="mensajeSelectize" options="vm.miMensajeTipoDialogo" ng-model="vm.miMensajeInputDialogo"></selectize>
						</div>
					</div>

					<div class="col s12  ">
						<form name="formmensaje" novalidate>
							<div class="input-field col s11">
								<textarea class="materialize-textarea" id="mensajeRespuesta" name="mensajeRespuesta" 
									ng-maxlength="500" 
									ng-minlength="5" 
									ng-model="vm.miMensajeRespuesta" 
									ng-required="true">
								</textarea>
								<label for="mensajeRespuesta">Ingrese una respuesta (mínimo 5 caracteres, máximo 500 caracteres)</label>
							</div>
							<div class="col s1 input-field">
								<br />
								<span ng-show="formmensaje.mensajeRespuesta.$valid">
									<i class="small material-icons light-green-text">done</i>
								</span>
								<span ng-show="!formmensaje.mensajeRespuesta.$valid"> 
									<i class="small material-icons red-text">error_outline</i>
								</span>	
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Fin modal mensaje -->

	<!-- Inicio modal mensaje kanban -->
	<div class="modal modal-fixed-footer" id="modalMensajeKanban">
		<div class="modal-content">
			<h4 class="green-text">Crear una nueva Tarea asociada</h4>
			<form name="formMensajeKanban" novalidate="novalidate">
				<div class="row">
					<div class="col s1">
						<br />
						<i class="green-text material-icons small">mode_edit</i>
					</div>
					<div class= "col s6 input-field">
						<input class="input-area" length="130" name="nuevatarea" type="text" 
							ng-maxlength="130" 
							ng-minlength="3" 
							ng-model="vm.miKanbanTareaNueva" 
							ng-required="true" />
						<label for="nuevatarea">Tarea</label>
					</div>
					<div class="col s5 centerme red-text" role="alert" ng-messages="formMensajeKanban.nuevatarea.$error">
						<div ng-message="required"><i class="material-icons red-green-text small">error_outline</i></div>
						<div ng-message="minlength">Mínimo 3 caracteres</div>
						<div ng-message="maxlength">Tarea demasiada larga</div>
						<div ng-show="formMensajeKanban.nuevatarea.$valid"><i class="light-green-text material-icons small">done</i></div>
					</div>
				</div>
				<div class="row">
					<div class="col s1"> 
						<br />
						<i class="small material-icons green-text">search</i>
					</div>
					<div class="col s8">
						<selectize 
							config="vm.miListaParticipantesSelectizeConfig" 
							options="vm.miListaParticipantes" 
							ng-model="vm.miKanbanResponsable"></selectize>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="vm.onBtnTareaCrearClick(true)" 
				ng-show="formMensajeKanban.$valid">Aceptar</a>
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" ng-click="">Cancelar</a>
		</div>
	</div>
	<!-- Fin modal mensaje kanban -->

	<!-- Inicio Modal Tarea -->
	<div class="modal modal-fixed-footer" id="modalKanbanTarea">
		<div class="modal-content">
			<h4 class="green-text">Crear una nueva Tarea</h4>
			<form name="formTarea" novalidate> 
				<div class="row"> 
					<div class="col s1"> 
						<br /> 
						<i class="green-text material-icons small">mode_edit</i>
					</div>
					<div class="col s6 input-field">
						<input class="input-area" length="130" name="nuevatarea" type="text" 
							ng-maxlength="130" 
							ng-minlength="3" 
							ng-model="vm.miKanbanTareaNueva" 
							ng-required="true" />
						<label for="nuevatarea">Tarea</label>
					</div>
					<div class="centerme col s5 red-text" role="alert" ng-messages="formTarea.nuevatarea.$error">
						<div ng-message="required"><i class="material-icons red-green-text small">error_outline</i></div>
						<div ng-message="minlength">Mínimo 3 caracteres</div>
						<div ng-message="maxlength">Tarea demasiada larga</div>
						<div ng-show="formTarea.nuevatarea.$valid"><i class="light-green-text material-icons small">done</i></div>
					</div>
				</div>

				<div class="row">
					<div class="col s1">
						<br />
						<i class="green-text material-icons small">search</i>
					</div>
					<div class="col s8">
						<selectize 
							config="vm.miListaParticipantesSelectizeConfig" 
							options="vm.miListaParticipantes" 
							ng-model="vm.miKanbanResponsable"></selectize>
					</div>
				</div>

			</form>
		</div>
		<div class="modal-footer">
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="vm.onBtnTareaCrearClick(false)" 
				ng-show="formTarea.$valid">Aceptar</a>
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="">Cancelar</a>
		</div>
	</div>
	<!-- Fin Modal Tarea -->

</div>