<div class="row" id="ProjectControllerCargando">
	<div class="container">
		<br />
		<div class="row center">
			        <div class="card-panel white lighten-5 z-depth-1">

			<img src="/images/cargando.gif" alt="cargando" />
			        </div>
		</div>
	</div>
</div>
<div id="ProjectControllerMain" ng-controller="ProjectController as vm" style="display: none; padding-top: .2em;">

	<!-- Inicio contenido -->
	<div class="row">

		<!-- Inicio Pestañas -->
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="green-text text-darken-2" href="#participantes">Proyecto: {{ vm.miProyecto.name }}</a></li>
				<li class="tab col s3"><a class="green-text text-darken-2 active" href="#dialogo">Diálogo</a></li>
				<li class="tab col s3"><a class="green-text text-darken-2" href="#mensajes">Mensajes</a></li>
				<li class="tab col s3"><a class="green-text text-darken-2" href="#kanbanBoard">Kanban</a></li>
			</ul>
		</div>
		<!-- Fin Pestañas -->

		<!-- Inicio Participantes -->
		<div id="participantes" class="col s12">
			<div class="container">

				<!-- Inicio agregar usuario -->
				<%if(session.User.email == project.owner_email) { %>
				<div class="row">
					<div class="col s12">
						<p class="green-text">Estás a cargo del proyecto, puedes editarlo <a class="modal-trigger" href="#modalEditarProyecto" modal>aquí</a></p> 
					</div>
				</div>
				<div class="row">
					<div class="col s8">
						<selectize config="vm.miListaUsuariosSelectizeConfig" options="vm.miListaUsuarios" ng-model="vm.miListaUsuariosSeleccionado"></selectize>
					</div>
					<div class="col s4">
               			<button type="submit" class="btn-large col s12 light-green waves-effect waves-light" ng-click="vm.onBtnAgregarParticipanteClick()">Agregar usuario</button> 
               		</div>
            	</div>
            	<% } %>
            	<!-- Inicio agregar usuario -->

            	<div class="row"> 
            		<div class="col s1">
            			<br />
            			<i class="light-green-text material-icons prefix">search</i>
            		</div>
            		<div class="input-field col s4">
            			<input id="buscarParticipante" name="buscarParticipante" type="search" ng-model="vm.miBuscarParticipante" />
            			<label class="green-text" for="buscarParticipante">Buscar participante</label>
            		</div>
            	</div>

            	<div class="row">
            		<div class="col s12">
            			
            			<!-- Tabla -->
            			<div id="tabla_participantes">
            				<table class="striped  responsive-table">
            					<thead>
            						<tr>
            							<th class="light-green-text" > </th>
            							<th data-field="nombre" class="light-green-text">Nombre </th>
            							<th data-field="initials" class="light-green-text">Iniciales </th>
            							<th data-field="correo" class="light-green-text">Correo </th>
            							<th data-field="rut" class="light-green-text"> Rut </th>
            							<th data-field="owner" class="light-green-text"> PMO</th>
            							<th data-field="encargado" class="light-green-text"> Encargado</th>
            							<th data-field="owner" class="light-green-text"> Rol</th>
            						</tr>
            					</thead>
            					<tbody>
	            					<tr ng-repeat="x in vm.miListaParticipantes | filter:vm.miBuscarParticipante" 
	            						ng-model="vm.miListaParticipantes">
	            						<td ><img ng-src="{{x.imgurl}}" alt="" class="circle " height ="40px" weight="40px" /></td>
	            						<td class="light-green-text"> {{ x.firstname }} {{ x.lastname }}</td>
	            						<td class="light-green-text"> {{ x.initials }} </td>
	            						<td class="light-green-text"> {{ x.email  }}</td>
	            						<td class="light-green-text"> {{x.rut}} </td>
	            						<td><i class="green-text small material-icons prefix" ng-if="owner_email==x.email">done</i></td>
	            						<td><i class="green-text small material-icons prefix" ng-if="owner_email==x.email">done</i></td>
	            						<td class="light-green-text">Desarrollador Front end</td>
	            					</tr>
            					</tbody>
            				</table>
            			</div>
            			<!-- Tabla --> 
            		</div>

            	</div>

			</div>
		</div>
		<!-- Fin Participantes -->

		<!-- Inicio Mapa del diálogo -->
		<div id="dialogo" class="col s12">

			<div class="row">
				<div class="input-field col s12 m4 l4">
					<select id="selectFiltrarUsuario">
						<option value="" disabled selected>Seleccionar un usuario</option>
						<option value="0">Sin filtro</option>
					</select>
					<label>Filtrar diálogo</label>
				</div>
				<div class="input-field col s12 m4 l4 offset-l3">
					<h6>Duración del diálogo:&nbsp;{{ vm.tiempoDialogo }} min.</h6>
				</div>
			</div>

			<!-- Inicio del mapa del diálogo -->
			<div id="main" class="main">
				<div class="svg-session"></div>
				<div class="svg-mapa"></div>
			</div>
			<!-- Fin del mapa del diálogo -->

			<!-- Inicio panel mensaje -->
			<div class="resizable-panel-container" ng-show="vm.miMensajeAnclado.id">
				<div class="resizable-panel-left">
					<div ng-if="vm.miMensajeAnclado !== ''"> 
						
						<div class="card-panel grey lighten-3 z-depth-1"> 
							<div class="row valign-wrapper"> 
								<div class="col s1"> 
									<img alt="Usuario" class="circle responsive-img" width="80px" ng-src="{{ vm.miMensajeAnclado !== '' ? (vm.miMensajeAnclado.usuario.imgurl ? vm.miMensajeAnclado.usuario.imgurl : '/images/profile.jpg') : '' }}" /> 
								</div> 
								<div class="col s10"> 
									<span class="black-text">({{ vm.miMensajeAnclado.usuario.initials }})</span> 
									<span class="right-align">{{ (vm.miMensajeAnclado !== "" ? vm.miMensajeAnclado.createdAt : "") | date:'M/d/yyyy HH:mm:ss'; }}</span> 
								</div> 
									<div class="col s12 m12 l4 right-align">							
										<span tooltipped 
											data-delay="50" 
											data-position="left" 
											data-tooltip="Mensaje anclado">
											<span class="mensaje-anclar-icon">
												<img alt="Kanban" src="/images/anchor-small.png" style="height: 33px; width: 33px;" />
											</span>
										</span>
										<span tooltipped 
											data-delay="50" 
											data-position="left" 
											data-tooltip="Unir al Kanban">
											<a class="btn-floating light-green valign-wrapper" href="#modalMensajeKanban" modal 
												ng-click="vm.miMensajeSeleccionado = vm.miMensajeAnclado;">
												<img alt="Kanban" height="33px" src="/images/kanbanicon.png" width="33px" />
											</a>
										</span>
										<span tooltipped 
											data-delay="50" 
											data-position="left" 
											data-tooltip="Responder">
											<a class="btn-floating waves-effect waves-light light-green modal-trigger" href="#modalMensaje" modal 
												ng-click="vm.miMensajeSeleccionado = vm.miMensajeAnclado;">
												<i class="small material-icons ">reply</i>
											</a>
										</span>
									</div>
							</div> 
							<div class="row"> 
								<div class="card-panel grey lighten-5 z-depth-1"> 
								<div class="mensaje-anclar-card"> 
									<p ng-if="vm.miMensajeAnclado.tipo !== ''"><strong>Tipo de mensaje</strong>: {{ vm.miMensajeAnclado.tipo }}.</p> 
									<p ng-if="vm.miMensajeAnclado.respuestaMarca"><strong>Respuesta a</strong>: {{ vm.miMensajeAnclado.respuestaMarca }}.</p> 
									<p class="context-menu-mensaje-anclado" ng-bind-html="vm.miMensajeAncladoName"></p> 
								</div> 
								</div>
							</div> 
						</div> 
						
					</div>
  				</div>
				<div class="resizable-panel-right">
  					<div ng-if="vm.miMensajeAncladoNavegar !== ''">
						<div class="row">
							<div class="col s12 m2 l2"> 
								<img alt="Usuario" class="circle responsive-img" ng-src="{{ vm.miMensajeAncladoNavegar !== '' ? (vm.miMensajeAncladoNavegar.usuario.imgurl ? vm.miMensajeAncladoNavegar.usuario.imgurl : '/images/profile.jpg') : '' }}" />
							</div>
							<div class="col s12 m10 l10">
								<div class="row">
									<div class="col s12 m12 l9">
										<h6>{{ (vm.miMensajeAncladoNavegar !== "" ? vm.miMensajeAncladoNavegar.createdAt : "") | date:'M/d/yyyy HH:mm:ss' }}</h6>
										<p><strong>
											{{ vm.miMensajeAncladoNavegar !== "" ? vm.miMensajeAncladoNavegar.usuario.firstname : "" }}&nbsp;
											({{ vm.miMensajeAncladoNavegar !== "" ? vm.miMensajeAncladoNavegar.usuario.initials : "" }})</strong> dijo:</p>
									</div>
									<div class="col s12 m12 l3 right-align">
										<span tooltipped 
											data-delay="50" 
											data-position="left" 
											data-tooltip="Unir al Kanban">
											<a class="btn-floating light-green valign-wrapper" href="#modalMensajeKanban" 
												modal 
												ng-click="vm.miMensajeSeleccionado = vm.miMensajeAncladoNavegar;">
												<img alt="Kanban" height="33px" src="/images/kanbanicon.png" width="33px" />
											</a>
										</span>
										<span tooltipped 
											data-delay="50" 
											data-position="left" 
											data-tooltip="Responder">
											<a class="btn-floating waves-effect waves-light light-green modal-trigger" href="#modalMensaje" 
												modal 
												ng-click="vm.miMensajeSeleccionado = vm.miMensajeAncladoNavegar;">
												<i class="small material-icons">reply</i>
											</a>
										</span>
									</div>
								</div>
								<div class="row">
									<div class="mensaje-anclar-card">
										<p ng-if="vm.miMensajeAncladoNavegar.tipo !== ''"><strong>Tipo de mensaje</strong>: {{ vm.miMensajeAncladoNavegar.tipo }}.</p>
										<p ng-if="vm.miMensajeAncladoNavegar.respuestaMarca !== ''"><strong>Respuesta a</strong>: {{ vm.miMensajeAncladoNavegar.respuestaMarca }}.</p>
										<p class="context-menu-mensaje-navegar" ng-bind-html="vm.miMensajeAncladoNavegarName"></p> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="vm.miMensajeAncladoNavegar === ''">
						<div class="row">
							<div class="col s12 m12 l12">
								<p class="text-center">No existe(n) respuesta(s) para el mensaje anclado</p>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- Fin panel mensaje -->

		</div>
		<!-- Fin Mapa del diálogo -->

		<!-- Inicio Mensajes -->
		<div id="mensajes" class="col s12">

			<!-- Inicio Buscar Mensaje -->
			<div class="container">
				<div class="row">
					<div class="col s1">
						<br />
						<i class="light-green-text material-icons">search</i>
					</div>
					<div class="col s11 input-field">
						<input name="buscarMensaje" type="text" ng-model="vm.miMensajeBuscar">
               			<label for="buscarMensaje">Buscar mensaje</label>
					</div>
				</div>
			</div>
			<!-- Fin Buscar Mensaje -->

			<!-- Inicio Lista Mensajes -->
			<div class="col s12 conscroll" scroll-glue>
				
				<!-- Inicio repetir mensaje -->
				<div class="row" ng-repeat="mensaje in vm.miMensaje | filter: vm.miMensajeBuscar">
					<div ng-class="{ 'col s8 offset-1 bubble': mensaje.cssvalue, 'col s8 offset-s4 bubble2': !mensaje.cssvalue }">
						<div class="col s11">
							<h6>{{ mensaje.createdAt | date:'M/d/yyyy HH:mm:ss' }}</h6>
						</div>
						<div class="col s1" 
							tooltipped 
							data-delay="50" 
							data-position="left" 
							data-tooltip="Unir al Kanban"> 
							<a class="btn-floating light-green valign-wrapper" href="#modalMensajeKanban" 
								modal 
								ng-click="vm.miMensajeSeleccionado = mensaje">
								<img alt="Kanban" height="33px" src="/images/kanbanicon.png" width="33px" />
							</a>
						</div>
						<div class="col s11">
							<div class="col s2">
								<div class="col s12">
									<img alt="Usuario" class="circle responsive-img" ng-src="{{ mensaje.usuario.imgurl ? mensaje.usuario.imgurl : '/images/profile.jpg' }}" />
								</div>
								<div class="col s12 offset-s1"><span class="white-text center">{{ mensaje.usuario.initials }}</span></div>
							</div>
							<div class="col s10">
								<div class="col s12"><span class="white-text">{{ mensaje.tipo }}</span></div>
								<div class="col s12 textito"><h6 class="">{{ mensaje.name }}</h6></div>
							</div>
						</div>
						<div class="col s1" 
							tooltipped 
							data-delay="50" 
							data-position="left" 
							data-tooltip="Responder">
							<br />
							<a class="btn-floating waves-effect waves-light light-green modal-trigger" href="#modalMensaje" 
								modal 
								ng-click="vm.miMensajeSeleccionado = mensaje">
								<i class="small material-icons">reply</i>
							</a>
						</div>
					</div>
				</div>
				<!-- Fin repetir mensaje -->

			</div>
			<!-- Fin Lista Mensajes -->
		</div>
		<!-- Fin Mensajes -->

		<!-- Inicio Kanban -->
		<div id="kanbanBoard" class="col s12" ng-cloak>
			<br />

			<!-- Inicio Lista NUEVA -->
			<div class="col s3">

				<!-- Inicio Título y búsqueda -->
				<div class="col s12 kanbanBoardColumnHeader"> 
					<div class="col s10">NUEVA</div> 
					<div class="col s1"> 
						<a class="modal-trigger" href="#modalKanbanTarea"> 
							<i class="light-green-text material-icons prefix tooltipped" 
								data-delay="50" data-position="top" data-tooltip="Crear Tarea">add_circle</i>
						</a>
					</div>
				</div> 
				<div class="col s12 kanbanBoardColumnHeader"> 
					<div class="col s1"> 
						<br /> 
						<i class="light-green-text material-icons prefix">search</i>
					</div>
					<div class="col 11">
						<input placeholder="Buscar..." type="text" ng-model="vm.miKanbanColumnSearch1" />
					</div>
				</div>
				<!-- Fin Título y búsqueda -->

				<!-- Inicio Columna -->
				<div class="col s12 kanbanBoardColumn" id="kanbanBoardColumn1" data-column-index="1">

					<!-- Inicio Celda -->
					<div class="kanbanBoardCell" id="kanbanBoardColumn1Cell{{ item.index }}" 
						data-cell-index="{{ item.index }}" 
						ng-repeat="item in vm.miKanbanColumn1 | filter: vm.miKanbanColumnSearch1" 
						ng-show="item.title">

						<!-- Inicio Tarea -->
						<div class="hoverable kanbanBoardTask" draggable="true" id="{{ item.id }}">
							<div class="row">
								<div class="col s12 kanbanred" ng-if="item.associated == true && item.element != ''"> 
									<div class="col s12 white-text"><h6>{{ item.element }}</h6></div> 
								</div>
								<div class="col s4"> 
									<div class="col s12" ng-show="item.usuario.imgurl">
										<br />
										<img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
									</div>
									<div class="col s12">{{ item.usuario.initials }}</div>
								</div>
								<div class="col s8 textito"><h6>{{ item.title }}</h6></div>
							</div>
						</div>
						<!-- Fin Tarea -->

					</div>
					<!-- Fin Celda -->

				</div>
				<!-- Fin Columna -->

			</div>
			<!-- Fin Lista NUEVA -->

			<!-- Inicio Lista HACIENDO -->
			<div class="col s3">

				<!-- Inicio Título y búsqueda -->
				<div class="col s12 kanbanBoardColumnHeader">HACIENDO</div>
				<div class="col s12 kanbanBoardColumnHeader">
					<div class="col s1">
						<br />
						<i class="material-icons light-green-text prefix">search</i>
					</div>
					<div class="col 11">
						<input placeholder="Buscar..." type="text" ng-model="vm.miKanbanColumnSearch2" />
					</div>
				</div>
				<!-- Fin Título y búsqueda -->

				<!-- Inicio Columna -->
				<div class="col s12 kanbanBoardColumn" id="kanbanBoardColumn2" data-column-index="2"> 

					<!-- Inicio Celda -->
					<div class="kanbanBoardCell" id="kanbanBoardColumn2Cell{{ item.index }}" 
						data-cell-index="{{ item.index }}" 
						ng-repeat="item in vm.miKanbanColumn2 | filter: vm.miKanbanColumnSearch2" 
						ng-show="item.title">

						<!-- Inicio Tarea -->
						<div class="hoverable kanbanBoardTask" draggable="true" id="{{ item.id }}">
							<div class="row">
								<div class="col s12 kanbanred" 
									ng-if="item.associated == true && item.element != ''">
									<div class="col s12  white-text"> <h6>{{ item.element }}</h6></div>
	                  			</div>
	                  			<div class="col s4"> 
	                  				<div class="col s12" ng-show="item.usuario.imgurl">
	                  					<br />
	                  					<img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
	                  				</div>
	                  				<div class="col s12">{{ item.usuario.initials }}</div>
	                  			</div>
	                  			<div class="col s8 textito"><h6>{{ item.title }}</h6></div>
	                  		</div>
                  		</div>
                  		<!-- Fin Tarea -->

                  	</div>
                  	<!-- Fin Celda -->

				</div>
				<!-- Fin Columna -->

			</div>
			<!-- Fin Lista HACIENDO -->

			<!-- Inicio Lista EN PRUEBAS -->
			<div class="col s3">

				<!-- Inicio Título y búsqueda -->
				<div class="col s12 kanbanBoardColumnHeader">EN PRUEBAS</div>
				<div class="col s12 kanbanBoardColumnHeader">
					<div class="col s1">
						<br />
						<i class="material-icons light-green-text prefix">search</i>
					</div>
					<div class="col 11">
						<input placeholder="Buscar..." type="text" ng-model="vm.miKanbanColumnSearch3" />
					</div>
				</div>
				<!-- Fin Título y búsqueda -->

				<!-- Inicio Columna -->
				<div class="col s12 kanbanBoardColumn" id="kanbanBoardColumn3" data-column-index="3">

					<!-- Inicio Celda -->
					<div class="kanbanBoardCell" id="kanbanBoardColumn3Cell{{ item.index }}" 
						data-cell-index="{{ item.index }}" 
						ng-repeat="item in vm.miKanbanColumn3 | filter: vm.miKanbanColumnSearch3" 
						ng-show="item.title">

						<!-- Inicio Tarea -->
						<div class="hoverable kanbanyellow kanbanBoardTask" draggable="true" id="{{ item.id }}">
							<div class="row">
								<div class="col s12 kanbanred" ng-if="item.associated == true && item.element != ''">
									<div class="col s12  white-text"><h6>{{ item.element }}</h6></div>
								</div>
								<div class="col s4"> 
									<div class="col s12" ng-show="item.usuario.imgurl">
										<br />
										<img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
									</div>
									<div class="col s12"> {{item.usuario.initials}}</div>
								</div>
								<div class="col s8 textito"><h6>{{item.title}}</h6></div>
							</div>
						</div>
						<!-- Fin Tarea -->

					</div>
					<!-- Fin Celda -->

				</div>
				<!-- Fin Columna --> 

			</div>
			<!-- Fin Lista EN PRUEBAS -->

			<!-- Inicio Lista TERMINADA -->
			<div  class="col s3">

				<!-- Inicio Título y búsqueda -->
				<div class="col s12 kanbanBoardColumnHeader">TERMINADA</div>
				<div class="col s12 kanbanBoardColumnHeader"> 
					<div class="col s1">
						<br />
						<i class="material-icons light-green-text prefix">search</i>
					</div>
					<div class="col 11">
						<input placeholder="Buscar..." type="text" ng-model="vm.miKanbanColumnSearch4" />
					</div>
				</div>
				<!-- Fin Título y búsqueda -->

				<!-- Inicio Columna -->
				<div class="col s12 kanbanBoardColumn" id="kanbanBoardColumn4" data-column-index="4">

					<!-- Inicio Celda -->
					<div class="kanbanBoardCell" id="kanbanBoardColumn4Cell{{ item.index }}" 
						data-cell-index="{{ item.index }}" 
						ng-repeat="item in vm.miKanbanColumn4 | filter: vm.miKanbanColumnSearch4" 
						ng-show="item.title">

						<!-- Inicio Tarea -->
						<div class="hoverable kanbanyellow kanbanBoardTask" draggable="true" id="{{ item.id }}">
							<div class="row">
								<div class="col s12 kanbanred" ng-if="item.associated == true && item.element != ''">
									<div class="col s12  white-text"><h6>{{ item.element }}</h6></div>
								</div>
								<div class="col s4">
									<div ng-show="item.usuario.imgurl" class="col s12">
										<br />
										<img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
									</div>
									<div class="col s12">{{ item.usuario.initials }}</div>
								</div>
								<div class="col s8 textito"><h6>{{ item.title }}</h6></div>
							</div>
						</div>
						<!-- Fin Tarea -->

					</div>
					<!-- Fin Celda -->

				</div>
				<!-- Fin Columna -->

			</div>
			<!-- Fin Lista TERMINADA -->
		</div>
		<!-- Fin Kanban -->

	</div>
	<!-- Fin Contenido -->

	<!-- Inicio modal proyecto -->
	<div class="modal" id="modalEditarProyecto">
		<div class="modal-content">
			<h4 class="green-text">Editar el proyecto</h4>

			<form name="vm.formEditarProyecto" novalidate="novalidate">

				<div class="row">
					<div class="col s1">
						<br />
						<i class="green-text material-icons prefix small">mode_edit</i>
					</div>
					<div class="input-field col s6">
						<input id="editarProyectoNombre" name="editarProyectoNombre" type="text" placeholder="{{ vm.miProyecto.name }}" 
							ng-maxlength="25" 
							ng-minlength="3" 
							ng-model="vm.miProyectoEditar.nombre" />
						<label for="editarProyectoNombre">Nombre del proyecto</label>
					</div>
					<div class="col s5 centerme red-text" role="alert" ng-messages="vm.formEditarProyecto.editarProyectoNombre.$error">
						<div ng-message="minlength">Mínimo 3 caracteres</div>
						<div ng-message="maxlength">Nombre muy largo</div>
					</div>
				</div>

				<div class="row">
					<div class="col s1">
						<br />
						<i class="green-text material-icons prefix small">date_range</i>
					</div>
					<div class="col s6">
						<input input-date 
							clear="Limpiar" 
							close="Cerrar" 
							container="body" 
							disable="vm.miDisable" 
							format="dd/mm/yyyy" 
							id="editarProyectoFechaLimite" 
							min="{{ vm.miMinDate }}" 
							max="{{ vm.miMaxDate }}" 
							months-full="{{ vm.miMonth }}" 
							months-short="{{ vm.miMonthShort }}" 
							name="editarProyectoFechaLimite" 
							on-close="onClose()" 
							on-open="onOpen()" 
							on-render="onRender()" 
							on-set="onSet()" 
							on-start="onStart()" 
							on-stop="onStop()" 
							placeholder="{{ vm.miProyecto.finish_date | date:'M/d/yyyy' }}" 
							select-years="15" 
							today="Hoy" 
							type="text" 
							weekdays-full="{{ vm.miWeekdaysFull }}" 
							weekdays-letter="{{ vm.miWeekdaysLetter }}" 
							weekdays-short="{{ vm.miWeekdaysShort }}" 
							ng-model="vm.miProyecto.fechaLimite" />
						<label for="editarProyectoFechaLimite">Fecha límite del proyecto</label> 
					</div>
				</div>
			</form>
		</div>

		<div class="modal-footer">
			<button class="btn-flat modal-action modal-close waves-effect waves-green" type="button"
				ng-click="vm.onBtnActualizarProyectoClick()" 
				ng-show="vm.formEditarProyecto.$valid">Aceptar</button>&nbsp;
			<button class="btn-flat modal-action modal-close waves-effect waves-green" type="button">Cancelar</button>
		</div>
	
	</div>
	<!-- Fin Modal Proyecto -->

	<!-- Inicio modal mensaje -->
	<div id="modalMensaje" class="modal bottom-sheet modal-noscroll">
		<div class="modal-content">

			<div class="row">
				<div class="col s12 m6 l6">
					<div class="card horizontal">
						<div class="card-stacked">
							<div class="card-content">
								<div class="row">
									<div class="col s12 m2 l2">
										<img alt="Usuario" class="circle responsive-img" ng-src="{{ vm.miMensajeSeleccionado.usuario.imgurl ? vm.miMensajeSeleccionado.usuario.imgurl : '/images/profile.jpg' }}" />
									</div>
									<div class="col s12 m10 l0">
										<h6>{{ vm.miMensajeSeleccionado.createdAt | date:'M/d/yyyy HH:mm:ss' }}</h6>
										<p><strong>{{ vm.miMensajeSeleccionado.usuario.firstname }} ({{ vm.miMensajeSeleccionado.usuario.initials }})</strong> dijo:</p>
									</div>
								</div>
								<div class="mensaje-card">
									<!--<p class="context-menu-mensaje-navegar" ng-bind-html="vm.miMensajeSeleccionado.name"></p>-->
								</div>
							</div>
							<div class="card-action">
								<button class="btn waves-effect waves-light orange darken-1 modal-action modal-close" type="button">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l6">
					<div class="card horizontal">
						<div class="card-stacked">
							<div class="card-content">
								<div class="row">
									<div class="col s12 m2 l2">
										<img alt="Usuario" class="circle responsive-img" ng-src="{{ vm.miUsuario.imgurl }}" />
									</div>
									<div class="col s12 m10 l10">
										<div class="col s12 m4 l4">
											<h6><strong>{{ vm.miUsuario.firstname }} ({{ vm.miUsuario.initials }})</strong> responde:</h6>
										</div>
										<div class="col s12 m8 l8">
											<selectize class="selectize-input-mensaje" config="vm.miMensajeSelectizeConfig" id="mensajeSelectize" options="vm.miMensajeTipoDialogo" ng-model="vm.miMensajeInputDialogo"></selectize>
										</div>
									</div>
								</div>
								<div class="mensaje-card">
									<form name="vm.formMensaje" novalidate="novalidate">
										<div class="input-field col s11">
											<textarea class="materialize-textarea" id="mensajeRespuesta" name="mensajeRespuesta" 
												ng-maxlength="500" 
												ng-minlength="5" 
												ng-model="vm.miMensajeRespuesta" 
												ng-required="true">
											</textarea>
											<label for="mensajeRespuesta">Ingrese una respuesta (mínimo 5 caracteres, máximo 500 caracteres)</label>
										</div>
										<div class="col s1 input-field">
											<br />
											<span ng-show="vm.formMensaje.mensajeRespuesta.$valid">
												<i class="small material-icons light-green-text">done</i>
											</span>
											<span ng-show="!vm.formMensaje.mensajeRespuesta.$valid">
												<i class="small material-icons red-text">error_outline</i>
											</span>
										</div>
									</form>
								</div>
							</div>
							<div class="card-action right-align">
								<button class="btn waves-effect waves-light" type="button" 
									ng-click="vm.onBtnMensajeEnviarClick()"
									ng-disabled="!vm.formMensaje.mensajeRespuesta.$valid">Responder</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fin modal mensaje -->

	<!-- Inicio Modal Mensaje Marcar -->
	<div class="modal modal-fixed-footer" id="modalMensajeMarcar">
		<div class="modal-content">
			<h4 class="green-text">Marcar mensaje</h4>
			<form name="formMensajeMarcar" novalidate> 
				
				<div class="row"> 
					<div class="col s12"> 
						<label>Responder a</label>
						<p><span class="chip">{{ vm.miMensajeDialogo }}</span></p> 
					</div> 
				</div> 

				<div class="row"> 
					<div class="col s12 m8 l8"> 
						<label>Seleccionar un elemento del diálogo</label>
						<selectize class="selectize-input-mensaje" config="vm.miMensajeSelectizeConfig" id="mensajeMarcarSelectize" options="vm.miMensajeTipoDialogo" ng-model="vm.miMensajeMarcarDialogo"></selectize> 
					</div> 
				</div> 

			</form>
		</div>
		<div class="modal-footer">
			<a class="btn-flat modal-action waves-effect waves-green" href="#!" 
				ng-click="vm.onBtnMensajeMarcarClick()" 
				ng-show="vm.miMensajeMarcarDialogo">Aceptar</a>
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="">Cancelar</a>
		</div>
	</div>
	<!-- Fin Modal Mensaje Marcar -->

	<!-- Inicio Modal Mensaje Respuesta -->
	<div class="modal modal-fixed-footer" id="modalMensajeResponder">
		<div class="modal-content">
			<h4 class="green-text">Responder a texto de mensaje</h4>
			<form name="vm.formMensajeResponder" novalidate> 
				
				<div class="row"> 
					<div class="col s12"> 
						<label>Responder a</label>
						<p><span class="chip">{{ vm.miMensajeDialogo }}</span></p> 
					</div> 
				</div> 

				<div class="row"> 
					<div class="col s12 m8 l8"> 
						<label>Seleccionar un elemento del diálogo</label>
						<selectize class="selectize-input-mensaje" config="vm.miMensajeSelectizeConfig" id="mensajeResponderSelectize" options="vm.miMensajeTipoDialogo" ng-model="vm.miMensajeResponderDialogo"></selectize> 
					</div> 
				</div> 
				
				<div class="row">
					<div class="input-field col s11"> 
						<textarea class="materialize-textarea" id="mensajeResponderTexto" name="mensajeResponderTexto" 
							ng-maxlength="500" 
							ng-minlength="5" 
							ng-model="vm.miMensajeResponderTexto" 
							ng-required="true">
						</textarea> 
						<label for="mensajeRespuesta">Ingrese una respuesta (mínimo 5 caracteres, máximo 500 caracteres)</label> 
					</div> 
					<div class="col s1 input-field"> 
						<br /> 
						<span ng-show="vm.formMensajeResponder.mensajeResponderTexto.$valid"> 
							<i class="small material-icons light-green-text">done</i> 
						</span> 
						<span ng-show="!vm.formMensajeResponder.mensajeResponderTexto.$valid"> 
							<i class="small material-icons red-text">error_outline</i> 
						</span> 
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="vm.onBtnMensajeResponderClick()" 
				ng-show="vm.formMensajeResponder.$valid">Aceptar</a>
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="">Cancelar</a>
		</div>
	</div>
	<!-- Fin Modal Mensaje Respuesta -->














	<!-- Inicio modal mensaje kanban -->
	<div class="modal modal-fixed-footer" id="modalMensajeKanban">
		<div class="modal-content">
			<h4 class="green-text">Crear una nueva Tarea asociada</h4>
			<form name="formMensajeKanban" novalidate="novalidate">
				<div class="row">
					<div class="col s1">
						<br />
						<i class="green-text material-icons small">mode_edit</i>
					</div>
					<div class= "col s6 input-field">
						<input class="input-area" length="130" name="nuevatarea" type="text" 
							ng-maxlength="130" 
							ng-minlength="3" 
							ng-model="vm.miKanbanTareaNueva" 
							ng-required="true" />
						<label for="nuevatarea">Tarea</label>
					</div>
					<div class="col s5 centerme red-text" role="alert" ng-messages="formMensajeKanban.nuevatarea.$error">
						<div ng-message="required"><i class="material-icons red-green-text small">error_outline</i></div>
						<div ng-message="minlength">Mínimo 3 caracteres</div>
						<div ng-message="maxlength">Tarea demasiada larga</div>
						<div ng-show="formMensajeKanban.nuevatarea.$valid"><i class="light-green-text material-icons small">done</i></div>
					</div>
				</div>
				<div class="row">
					<div class="col s1"> 
						<br />
						<i class="small material-icons green-text">search</i>
					</div>
					<div class="col s8">
						<selectize 
							config="vm.miListaParticipantesSelectizeConfig" 
							options="vm.miListaParticipantes" 
							ng-model="vm.miKanbanResponsable"></selectize>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="vm.onBtnTareaCrearClick(true)" 
				ng-show="formMensajeKanban.$valid">Aceptar</a>
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" ng-click="">Cancelar</a>
		</div>
	</div>
	<!-- Fin modal mensaje kanban -->

	<!-- Inicio Modal Tarea -->
	<div class="modal modal-fixed-footer" id="modalKanbanTarea">
		<div class="modal-content">
			<h4 class="green-text">Crear una nueva Tarea</h4>
			<form name="formTarea" novalidate> 
				<div class="row"> 
					<div class="col s1"> 
						<br /> 
						<i class="green-text material-icons small">mode_edit</i>
					</div>
					<div class="col s6 input-field">
						<input class="input-area" length="130" name="nuevatarea" type="text" 
							ng-maxlength="130" 
							ng-minlength="3" 
							ng-model="vm.miKanbanTareaNueva" 
							ng-required="true" />
						<label for="nuevatarea">Tarea</label>
					</div>
					<div class="centerme col s5 red-text" role="alert" ng-messages="formTarea.nuevatarea.$error">
						<div ng-message="required"><i class="material-icons red-green-text small">error_outline</i></div>
						<div ng-message="minlength">Mínimo 3 caracteres</div>
						<div ng-message="maxlength">Tarea demasiada larga</div>
						<div ng-show="formTarea.nuevatarea.$valid"><i class="light-green-text material-icons small">done</i></div>
					</div>
				</div>

				<div class="row">
					<div class="col s1">
						<br />
						<i class="green-text material-icons small">search</i>
					</div>
					<div class="col s8">
						<selectize 
							config="vm.miListaParticipantesSelectizeConfig" 
							options="vm.miListaParticipantes" 
							ng-model="vm.miKanbanResponsable"></selectize>
					</div>
				</div>

			</form>
		</div>
		<div class="modal-footer">
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="vm.onBtnTareaCrearClick(false)" 
				ng-show="formTarea.$valid">Aceptar</a>
			<a class="btn-flat modal-action modal-close waves-effect waves-green" href="#!" 
				ng-click="">Cancelar</a>
		</div>
	</div>
	<!-- Fin Modal Tarea -->

</div>