<div id="IndexControllerMain" style="height: 100%; position: absolute; top: 60px; width: 100%;" ng-controller="IndexController as vm">

    <div id="snackbar">{{ vm.messageToast }}</div>

    <div class="card text-center"> 

        <!-- Inicio Tab -->
        <div class="card-header"> 
            <ul class="nav nav-pills card-header-pills"> 
                <li class="nav-item"> 
                    <a ng-class="{ 'nav-link active': vm.activeTab === 1, 'nav-link': vm.activeTab !== 1 }" ng-click="vm.activeTab = 1;" href="#">Proyecto</a> 
                </li> 
                <li class="nav-item"> 
                    <a ng-class="{ 'nav-link active': vm.activeTab === 2, 'nav-link': vm.activeTab !== 2 }" ng-click="vm.activeTab = 2;" href="#">Diálogo</a> 
                </li> 
                <li class="nav-item"> 
                    <a ng-class="{ 'nav-link active': vm.activeTab === 4, 'nav-link': vm.activeTab !== 4 }" ng-click="vm.activeTab = 4;" href="#">Kanban</a> 
                </li> 
            </ul> 
        </div> 
        <!-- Fin Tab -->
            
        <!-- Inicio Proyecto --> 
        <div class="card-body text-left" ng-show="vm.activeTab === 1"> 
            <div class="container">
                <h4 class="card-title text-left">Información del proyecto</h4> 
                <hr />

                <div class="form-group"> 
                    <div class="row"> 
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                            <input class="form-control datepicker" type="text" />
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                            <label for="projectUser">Sección padre</label> 
                            <div class="input-group">
                                <div> 
                                    <select class="js-example-basic-multiple" id="projectUser" multiple="multiple" name="projectUser" style="width: 100%"> 
                                    </select> 
                                </div> 
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" 
                                        ng-click="vm.onBtnProjectModalClick()">
                                        <span class="glyphicon glyphicon-edit"></span> Editar proyecto
                                    </button>
                                </span>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div> 
        </div> 
        <!-- Fin Proyecto -->
            
        <!-- Inicio Diálogo -->
        <div class="text-left" id="dialogo-main" ng-show="vm.activeTab === 2"> 
            <div id="dialogo-svg" class="dialogo-panel-top">
                
			    <!-- Inicio del mapa del diálogo -->
                <div class="svg-session"></div>
                <div class="svg-mapa" style="opacity: 0.5"></div>
                <!-- Fin del mapa del diálogo -->    
            
            </div>  
            
            <!-- Inicio Paneles -->
            <div class="dialogo-panel-bottom"> 
                <div id="dialogo-panel"> 

                    <!-- Inicio Panel Izquierdo -->
                    <div class="dialogo-panel-card" id="x"> 
                        <div style="padding: 0.5em;">
                            
                            <div class="input-group" style="padding: 0 0 5px 0 !important;"> 
                                <img alt="profile" class="rounded-circle" style="width: 40px; height: 40px;" ng-src="{{ vm.miMensajeAnclado.usuario.imgurl ? vm.miMensajeAnclado.usuario.imgurl : '/images/profile.jpg' }}" /> 
                                <h4 style="padding: 5px 0 0 15px;">{{ vm.miMensajeAnclado.usuario.initials }}</h4> 
                                <svg height="40" width="40">
                                    <circle cx="25" cy="20" r="10" ng-attr-fill="#{{ vm.miMensajeAnclado.usuario.color }}" />
                                </svg>
                            </div>
                            
                            <div class="card bg-light mb-3" style="position: absolute; height: 79%; width: 98%"> 
                                <div class="card-header text-left"> 
                                    {{ vm.miMensajeAnclado.createdAt | date: "dd-MMM-yyyy HH:mm:ss" }} <strong>{{ vm.miMensajeAnclado.nodoId + '/' + vm.miMensajeLista.length }}</strong> 
                                </div> 
                                <div class="card-body" style="margin: 0; padding: 0;"> 
                                    <div style="text-align: left; position: relative; width: 100%; height: 159px; overflow-y: auto;"> 
                                        <div class="card" style="margin: 5px 0 0 15px; width: 95%;"> 
                                            <ul class="list-group list-group-flush text-left"> 
                                                <li class="list-group-item border border-secondary" style="padding: 0 15px 0 15px;"><strong>{{ vm.miMensajeAnclado.usuario.initials }} {{ vm.miMensajeAnclado.tipo === 'Mensaje Inicial' || vm.miMensajeAnclado.tipo === 'Citar' || vm.miMensajeAnclado.tipo === '' ? 'Dijo' : vm.miMensajeAnclado.tipo }}:</strong></li> 
                                                <li class="list-group-item border border-secondary" style="padding: 0 15px 0 15px;" ng-show="vm.miMensajeAnclado.respuestaMarca">{{ vm.miMensajeAnclado.respuestaMarca }}</li> 
                                            </ul> 
                                        </div>
                                        <div class="context-menu-mensaje-anclado" style="margin: 10px 0 0 15px; width: 95%;" ng-bind-html="vm.miMensajeAncladoName">
                                            
                                        </div>
                                    </div> 
                                </div> 
                                <div class="card-footer"> 
                                    <button class="btn btn-primary btn-block" type="button" ng-click="vm.mensajeResponder = true;"><span class="glyphicon glyphicon-share-alt"></span> Responder todo</button> 
                                </div> 
                            </div>
                        
                        </div> 
                    </div> 
                    <!-- Fin Panel Izquierdo -->

                    <!-- Inicio Panel Derecho -->
                    <div class="dialogo-panel-card" id="y"> 
                        <div style="padding: 0.5em;"> 
                            
                            <!-- Inicio ver mensaje --> 
                            <div ng-show="!vm.mensajeResponder"> 

                                <div ng-show="vm.miMensajeAncladoNavegar.nodoId">

                                    <div class="input-group" style="padding: 0 0 5px 0 !important;"> 
                                        <img alt="profile" class="rounded-circle" style="width: 40px; height: 40px;" ng-src="{{ vm.miMensajeAncladoNavegar.usuario.imgurl ? vm.miMensajeAncladoNavegar.usuario.imgurl : '/images/profile.jpg' }}" /> 
                                        <h4 style="padding: 5px 0 0 15px;">{{ vm.miMensajeAncladoNavegar.usuario.initials }}</h4> 
                                        <svg height="40" width="40">
                                            <circle cx="25" cy="20" r="10" ng-attr-fill="#{{ vm.miMensajeAncladoNavegar.usuario.color }}" />
                                        </svg>
                                    </div>
                                    
                                    <div class="card bg-light mb-3" style="position: absolute; height: 79%; width: 98%"> 
                                        <div class="card-header text-left"> 
                                            {{ vm.miMensajeAncladoNavegar.createdAt | date: "dd-MMM-yyyy HH:mm:ss" }} <strong>{{ vm.miMensajeAncladoNavegar.nodoId + '/' + vm.miMensajeLista.length }}</strong> 
                                        </div> 
                                        <div class="card-body" style="margin: 0; padding: 0;"> 
                                            <div style="text-align: left; position: relative; width: 100%; height: 159px; overflow-y: auto;"> 
                                                <div class="card" style="margin: 5px 0 0 15px; width: 95%;"> 
                                                    <ul class="list-group list-group-flush text-left"> 
                                                        <li class="list-group-item border border-secondary" style="padding: 0 15px 0 15px;"><strong>{{ vm.miMensajeAncladoNavegar.usuario.initials }} {{ vm.miMensajeAncladoNavegar.tipo === 'Mensaje Inicial' || vm.miMensajeAncladoNavegar.tipo === 'Citar' || vm.miMensajeAncladoNavegar.tipo === '' ? 'Dijo' : vm.miMensajeAncladoNavegar.tipo }}:</strong></li> 
                                                        <li class="list-group-item border border-secondary" style="padding: 0 15px 0 15px;" ng-show="vm.miMensajeAncladoNavegar.respuestaMarca">{{ vm.miMensajeAncladoNavegar.respuestaMarca }}</li> 
                                                    </ul> 
                                                </div>
                                                <div class="context-menu-mensaje-anclado" style="margin: 10px 0 0 15px; width: 95%;" ng-bind-html="vm.miMensajeAncladoNavegarName">
                                                    
                                                </div>
                                            </div> 
                                        </div> 
                                        <div class="card-footer"> 
                                            <button class="btn btn-primary btn-block" type="button" ng-click="vm.onBtnMensajeAncladoNavegarResponderClick();"><span class="glyphicon glyphicon-share-alt"></span> Responder todo</button> 
                                        </div> 
                                    </div>

                                </div>
                                <div ng-show="!vm.miMensajeAncladoNavegar.nodoId">
                                    <div class="card bg-light mb-3" style="margin-top: 45px; position: absolute; height: 79%; width: 98%"> 
                                        <div class="card-body" style="margin: 0; padding: 25px;"> 
                                            <h4>Este mensaje no tiene respuestas.</h4>
                                            <p>Has clic en <strong><span class="glyphicon glyphicon-share-alt"></span> Responder todo</strong> para agregar una respuesta a este mensaje.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin ver mensaje --> 

                            <!-- Inicio responder mensaje -->
                            <div ng-show="vm.mensajeResponder"> 
                                <h4 style="padding: 5px 0 5px 15px;">Responder mensaje</h4> 
                                
                                <div class="card bg-light mb-3" style="position: absolute; height: 81%; width: 98%"> 

                                    <form name="vm.formMensaje">

                                        <div class="card-header text-left"> 
                                            <span class="glyphicon glyphicon-pencil"></span> Ahora puedes responder al mensaje
                                        </div> 
                                        <div class="card-body" style="margin: 0; padding: 0;"> 
                                            <div style="text-align: left; position: relative; width: 100%; height: 159px; overflow-y: auto;"> 
                                                <div class="card" style="margin: 5px 0 0 15px; width: 95%;" ng-show="vm.ok"> 
                                                    <ul class="list-group list-group-flush text-left"> 
                                                        <li class="list-group-item border border-secondary" style="padding: 0 15px 0 15px;"><strong>ELL Duda o Alternativa:</strong></li> 
                                                        <li class="list-group-item border border-secondary" style="padding: 0 15px 0 15px;">¿Cuando inicia el campeonatoaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?</li> 
                                                    </ul> 
                                                </div> 
                                                <div style="margin: 15px; height: 80%;"> 
                                                    <textarea id="mensajeRespuesta" name="mensajeRespuesta" placeholder="Ingresar respuesta" rows="4" style="height: 100%" 
                                                        ng-class="{ 
                                                        'form-control': vm.formMensaje.mensajeRespuesta.$pristine || vm.formMensaje.mensajeRespuesta.$valid, 
                                                        'form-control is-invalid': !vm.formMensaje.mensajeRespuesta.$pristine && !vm.formMensaje.mensajeRespuesta.$valid }" 
                                                        ng-model="vm.mensajeRespuesta" 
                                                        ng-maxlength="500" 
                                                        ng-minlength="5" 
                                                        ng-required="true"></textarea> 
                                                    <p class="text-danger" role="alert" ng-messages="!vm.formMensaje.mensajeRespuesta.$pristine && vm.formMensaje.mensajeRespuesta.$error"> 
                                                        <strong ng-message="minlength">3 caracteres</strong> 
                                                        <strong ng-message="maxlength">No puede ser más de 500 carácteres</strong> 
                                                        <strong ng-message="required">Ingresar el contenido del mensaje</strong> 
                                                    </p> 
                                                </div>
                                            </div> 
                                        </div> 
                                        <div class="card-footer"> 
                                            <div class="row"> 
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                                                    <button class="btn btn-success btn-block" type="button" ng-click="vm.onBtnMensajeEnviarClick()"><span class="glyphicon glyphicon-send"></span> Enviar mensaje</button> 
                                                </div> 
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                                                    <button class="btn btn-info btn-block" type="button" ng-click="vm.onBtnMensajeCancelarClick()"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button> 
                                                </div> 
                                            </div> 
                                        </div> 
                                    
                                    </form> 

                                </div> 
                            </div>
                            <!-- Fin responder mensaje -->
                        </div> 
                    </div> 
                    <!-- Fin Panel Derecho -->

                </div> 
            </div> 
            <!-- Fin Paneles -->

        </div>
        <!-- Fin Diálogo -->
            
        <!-- Inicio Kanban -->
        <div class="card-body" ng-if="vm.activeTab === 4"> 
            
            <!-- Inicio Lista NUEVA --> 
            <div class="form-group"> 
                <div class="row"> 
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"> 
                        
                        <!-- Inicio Título y búsqueda --> 
                        <div class="kanbanBoardColumnHeader"> 
                            <h6>NUEVA</h6> 
                            <div class="input-group"> 
                                <span class="input-group-addon"> 
                                    <span class="glyphicon glyphicon-search"></span> 
                                </span> 
                                <input class="form-control" placeholder="Buscar..." type="text" ng-model="vm.miKanbanColumnSearch1" /> 
                                <div class="input-group-btn"> 
                                    <button class="btn btn-primary" type="button">Add</button> 
                                </div> 
                            </div>  
                        </div>
                        <!-- Fin Título y búsqueda --> 
                        
                        <!-- Inicio Columna --> 
                        <div class="kanbanBoardColumn" id="kanbanBoardColumn1" data-column-index="1"> 
                            
                            <!-- Inicio Celda --> 
                            <div class="kanbanBoardCell" id="kanbanBoardColumn1Cell{{ item.index }}" 
                                data-cell-index="{{ item.index }}" 
                                ng-repeat="item in vm.miKanbanColumn1 | filter: vm.miKanbanColumnSearch1" 
                                ng-show="item.title"> 
                                
                                <!-- Inicio Tarea --> 
                                <div class="hoverable kanbanBoardTask" draggable="true" id="{{ item.id }}"> 
                                    <div class="row"> 
                                        <div class="kanbanred" ng-if="item.associated == true && item.element != ''"> 
                                            <div class="white-text"><h6>{{ item.element }}</h6></div> 
                                        </div> 
                                        <div class="col s4"> 
                                            <div class="col s12" ng-show="item.usuario.imgurl">
                                                <!--<img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">--> 
                                            </div> 
                                            <div class="col s12">{{ item.usuario.initials }}</div> 
                                        </div> 
                                        <div class="col s8 textito"><h6>{{ item.title }}</h6></div> 
                                    </div> 
                                </div> 
                                <!-- Fin Tarea --> 
                            
                            </div> 
                            <!-- Fin Celda --> 
                        
                        </div> 
                        <!-- Fin Columna --> 

                    </div> 
                    <!-- Fin Lista NUEVA --> 
            
                    <!-- Inicio Lista HACIENDO --> 
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"> 
                        
                        <!-- Inicio Título y búsqueda --> 
                        <div class="kanbanBoardColumnHeader"> 
                            <h6>HACIENDO</h6> 
                            <div class="input-group"> 
                                <span class="input-group-addon"> 
                                    <span class="glyphicon glyphicon-search"></span> 
                                </span> 
                                <input class="form-control" placeholder="Buscar..." type="text" ng-model="vm.miKanbanColumnSearch2" /> 
                            </div>  
                        </div>
                        <!-- Fin Título y búsqueda --> 
        
                        <!-- Inicio Columna -->
                        <div class="kanbanBoardColumn" id="kanbanBoardColumn2" data-column-index="2"> 
        
                            <!-- Inicio Celda -->
                            <div class="kanbanBoardCell" id="kanbanBoardColumn2Cell{{ item.index }}" 
                                data-cell-index="{{ item.index }}" 
                                ng-repeat="item in vm.miKanbanColumn2 | filter: vm.miKanbanColumnSearch2" 
                                ng-show="item.title">
        
                                <!-- Inicio Tarea -->
                                <div class="hoverable kanbanBoardTask" draggable="true" id="{{ item.id }}">
                                    <div class="row">
                                        <div class="kanbanred" 
                                            ng-if="item.associated == true && item.element != ''">
                                            <div class="white-text"> <h6>{{ item.element }}</h6></div>
                                          </div>
                                          <div class="col s4"> 
                                              <div class="col s12" ng-show="item.usuario.imgurl">
                                                  <br />
                                                  <img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
                                              </div>
                                              <div class="col s12">{{ item.usuario.initials }}</div>
                                          </div>
                                          <div class="col s8 textito"><h6>{{ item.title }}</h6></div>
                                      </div>
                                  </div>
                                  <!-- Fin Tarea -->
        
                              </div>
                              <!-- Fin Celda -->
        
                        </div>
                        <!-- Fin Columna -->
        
                    </div> 
                    <!-- Fin Lista HACIENDO --> 
            
                    <!-- Inicio Lista EN PRUEBAS --> 
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"> 

                        <!-- Inicio Título y búsqueda --> 
                        <div class="kanbanBoardColumnHeader"> 
                            <h6>EN PRUEBAS</h6> 
                            <div class="input-group"> 
                                <span class="input-group-addon"> 
                                    <span class="glyphicon glyphicon-search"></span> 
                                </span> 
                                <input class="form-control" placeholder="Buscar..." type="text" ng-model="vm.miKanbanColumnSearch3" /> 
                            </div>  
                        </div>
                        <!-- Fin Título y búsqueda --> 
        
                        <!-- Inicio Columna -->
                        <div class="kanbanBoardColumn" id="kanbanBoardColumn3" data-column-index="3">
        
                            <!-- Inicio Celda -->
                            <div class="kanbanBoardCell" id="kanbanBoardColumn3Cell{{ item.index }}" 
                                data-cell-index="{{ item.index }}" 
                                ng-repeat="item in vm.miKanbanColumn3 | filter: vm.miKanbanColumnSearch3" 
                                ng-show="item.title">
        
                                <!-- Inicio Tarea -->
                                <div class="hoverable kanbanyellow kanbanBoardTask" draggable="true" id="{{ item.id }}">
                                    <div class="row">
                                        <div class="kanbanred" ng-if="item.associated == true && item.element != ''">
                                            <div class="white-text"><h6>{{ item.element }}</h6></div>
                                        </div>
                                        <div class="col s4"> 
                                            <div class="col s12" ng-show="item.usuario.imgurl">
                                                <br />
                                                <img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
                                            </div>
                                            <div class="col s12"> {{item.usuario.initials}}</div>
                                        </div>
                                        <div class="col s8 textito"><h6>{{item.title}}</h6></div>
                                    </div>
                                </div>
                                <!-- Fin Tarea -->
        
                            </div>
                            <!-- Fin Celda -->
        
                        </div>
                        <!-- Fin Columna --> 
        
                    </div> 
                    <!-- Fin Lista EN PRUEBAS --> 

                    <!-- Inicio Lista COMPLETA --> 
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"> 
            
                        <!-- Inicio Título y búsqueda --> 
                        <div class="kanbanBoardColumnHeader"> 
                            <h6>COMPLETADO</h6> 
                            <div class="input-group"> 
                                <span class="input-group-addon"> 
                                    <span class="glyphicon glyphicon-search"></span> 
                                </span> 
                                <input class="form-control" placeholder="Buscar..." type="text" ng-model="vm.miKanbanColumnSearch4" /> 
                            </div>  
                        </div>
                        <!-- Fin Título y búsqueda --> 
            
                        <!-- Inicio Columna -->
                        <div class="kanbanBoardColumn" id="kanbanBoardColumn4" data-column-index="3">
            
                            <!-- Inicio Celda -->
                            <div class="kanbanBoardCell" id="kanbanBoardColumn4Cell{{ item.index }}" 
                                data-cell-index="{{ item.index }}" 
                                ng-repeat="item in vm.miKanbanColumn4 | filter: vm.miKanbanColumnSearch4" 
                                ng-show="item.title">
            
                                <!-- Inicio Tarea -->
                                <div class="hoverable kanbanyellow kanbanBoardTask" draggable="true" id="{{ item.id }}">
                                    <div class="row">
                                        <div class="kanbanred" ng-if="item.associated == true && item.element != ''">
                                            <div class="white-text"><h6>{{ item.element }}</h6></div>
                                        </div>
                                        <div class="col s4"> 
                                            <div class="col s12" ng-show="item.usuario.imgurl">
                                                <br />
                                                <img class="circle" height="40px" width="40px" ng-src="{{ item.usuario.imgurl }}">
                                            </div>
                                            <div class="col s12"> {{item.usuario.initials}}</div>
                                        </div>
                                        <div class="col s8 textito"><h6>{{item.title}}</h6></div>
                                    </div>
                                </div>
                                <!-- Fin Tarea -->
            
                            </div>
                            <!-- Fin Celda -->
            
                        </div>
                        <!-- Fin Columna --> 
            
                    </div>
                </div>
            </div> 
            <!-- Fin Lista EN PRUEBAS --> 

        </div> 
        <!-- Fin Kanban -->
            
    </div>
</div>