<div class= "row boxer" ng-controller="RecoverPassCtrl" >
   <div class=" z-depth-4 card-panel col s4 offset-s4 ">
     
       <div class="row ">
      
        <img class="col s6 offset-s3"src="/images/iconobigsinfondo.png" alt="">
       <div class ="row center">
          <h4 class=" light-green-text"> Recuperar clave Visual Mail:</h4>
       </div>
       </div>

    <div ng-show="mostrar">
       <div class= "row ">

         <div class="input-field col s7 offset-s1">
           <i class= "light-green-text small material-icons prefix">
             person_pin</i>
           <input type="email" name="email" id="email" ng-model="email" placeholder="hola@visualmail.com" 
           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
           <label for="email" > Ingrese su Email</label>
         </div>
         <div ng-messages="loginform.email.$error" role="alert" class="col s4 centerme red-text" >
            <div ng-message="email">Formato no válido</div>
            <div ng-message="pattern">Formato no válido</div>
         </div>
       </div>

    
       <div class="row  container"> 
          <button type="submit" class="waves-effect waves-light btn-large light-green col s6" ng-click="sendData()" > Enviar Correo</button>
          
       </div>
    </div>

    <div ng-show="mostrarpost" class="row container">
      <h6 class="center green-text"> Se ha enviado un correo a la dirección:{{email}}</h6>
        <a href="/" class="waves-effect waves-light btn-large light-green col s6 offset-s3"> Volver</a>
    </div>
    
            <% if(flash && flash.err){ %>
            <script>Materialize.toast($toastContent, 5000);</script>
          <% } %>
    </div>
</div>
