<div class="boxer row" ng-controller="ForgotPassController as vm">
    <div class="card-panel col s12 m8 offset-m2 l4 offset-l4 z-depth-4">
        
        <div class="row">
            <img class="col s6 offset-s3" src="/images/icon716x573.png" alt="icon716x573">
            <div class ="col s12">
                <h4 class="center-align light-green-text">Recuperar contraseña</h4>
            </div>
        </div>
        
        <div ng-show="!vm.esconderFormulario">
            <form name="vm.formEnviar">
                <div class="row">
                    <div class="input-field col s7 offset-s1">
                        <i class="light-green-text small material-icons prefix">person_pin</i>
                        <input id="email" name="email" placeholder="hola@visualmail.com" type="email" 
                            ng-model="vm.email" 
                            ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
                            ng-required="true" />
                        <label for="email"> Ingrese su Email</label>
                    </div>
                </div>
                <div id="logInMessage" style="display: none;">
                    <div class="row container card red lighten-1 col s8 offset-s2" 
                        ng-if="(vm.formEnviar.$submitted || !vm.formEnviar.email.$pristine) && !vm.formEnviar.email.$valid">
                        <div class="card-content white-text center">
                            <strong>Verificar el correo electrónico</strong>
                        </div>
                    </div>
                    <div class="container row">
                        <button class="btn-large col s12 m8 offset-m2 l8 offset-l2 light-green waves-effect waves-light" type="submit" 
                            ng-click="vm.onBtnEnviarClick()" 
                            ng-show="vm.formEnviar.email.$valid">Enviar Correo</button>
                    </div>
                    <div class="container row" ng-show="vm.mostrarPost">
                        <h6 class="center green-text">Se ha enviado un correo a la dirección: {{email}}</h6>
                        <a href="/" class="btn-large col s12 m8 offset-m2 l8 offset-l2 light-green waves-effect waves-light ">Volver</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>