<div class="boxer row" ng-controller="RecoverPassCtrl">
   <div class="card-panel col s12 m8 offset-m2 l4 offset-l4 z-depth-4">

      <div class="row">
         <img alt="iconfondo" class="col s6 offset-s3" src="/images/iconobigsinfondo.png">
         <div class ="row center">
            <h4 class=" light-green-text">Recuperar contrase침a</h4>
         </div>
      </div>

      <div ng-show="mostrar">
         <form name="enviarcorreoform">
            <div class="row">
               <div class="input-field col s7 offset-s1">
                  <i class="light-green-text small material-icons prefix">person_pin</i>
                  <input id="email" name="email" type="email" placeholder="hola@visualmail.com" 
                     ng-model="email" 
                     ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
                     ng-required="true">
                  <label for="email"> Ingrese su Email</label>
               </div>
               <div class="col s4 centerme red-text" ng-messages="enviarcorreoform.email.$error" role="alert">
                  <div ng-message="required"> Ingrese su email</div>
                  <div ng-message="email">Formato no v치lido</div>
                  <div ng-message="pattern">Formato no v치lido</div>
               </div>
            </div>

            <div class="container row"> 
               <button class="btn-large col s12 m8 offset-m2 l8 offset-l2 light-green waves-effect waves-light" type="submit" ng-click="sendData()" ng-show="enviarcorreoform.email.$valid">Enviar Correo</button>
            </div>
         </form>
      </div>

      <div class="container row" ng-show="mostrarpost">
         <h6 class="center green-text">Se ha enviado un correo a la direcci칩n: {{email}}</h6>
         <a href="/" class="btn-large col s12 m8 offset-m2 l8 offset-l2 light-green waves-effect waves-light ">Volver</a>
      </div>

      <% if(flash && flash.err){ %>
      <script>Materialize.toast($toastContent, 5000);</script>
      <% } %>
   </div>
</div>