<script>
	
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
        

</script>

<div class="">
	<h2 class="green-text center "> Bienvenido al módulo de ayuda </h2>
	<div class="row">

		
	</div>
	<div class="row">


  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">live_help</i>¿Qué son los elementos del diálogo?</div>
      <div class="collapsible-body container">
  	
		
				  <ul class="collapsible " data-collapsible="accordion">
				 <li>
				 	 <div class="collapsible-header"><i class="material-icons">live_help</i>Duda o Alternativa</div>
				      <div class="collapsible-body">
							<div class="row">

				      		<div class=" col s4">
				      			<img src="/images/da.png" class="responsive-img" alt="">
				      		</div>
				      		<div class="col s8">
				      			<p>Se plantea falta de información sobre un tema particular o no existe claridad sobre el problema, la oportunidad o las alternativas de solución. Esto crea incertidumbre en cómo continuar con el proyecto. 
								EJEMPLO: “¿Qué tecnología es la más apropiada para este proyecto?”</p>
				      		</div>
				      	</div>
				      </div>
				  <li>
				  </ul>
					



				  				  <ul class="collapsible " data-collapsible="accordion">
				 <li>
				 	 <div class="collapsible-header"><i class="material-icons">live_help</i>Desacuerdo o Brecha</div>
				      <div class="collapsible-body">
							<div class="row">

				      		<div class=" col s4">
				      			<img src="/images/db.png" class="responsive-img" alt="">
				      		</div>
				      		<div class="col s8">
				      			<p>Se presenta una contraposición entre puntos de vista sobre un tema o se detecta una brecha entre lo proyectado versus lo logrado. En ambos casos es necesario resolver el asunto para continuar el proyecto. 
EJEMPLO: “¡El proyecto será un éxito!, yo no estaría tan confiado como tú”</p>
				      		</div>
				      	</div>
				      </div>
				  <li>
				  </ul>


				  				  <ul class="collapsible " data-collapsible="accordion">
				 <li>
				 	 <div class="collapsible-header"><i class="material-icons">live_help</i>Norma Común</div>
				      <div class="collapsible-body">
							<div class="row">

				      		<div class=" col s4">
				      			<img src="/images/nc.png" class="responsive-img" alt="">
				      		</div>
				      		<div class="col s8">
				      			<p>La falta de normas, reglas o estándares comunes producen caos. Las normas y reglas comunes ordenan el trabajo. Estas reglas deben ser aceptadas colectivamente y consideradas leyes para el futuro. 
EJEMPLO: “Desde ahora en adelante usaremos solo metodologías Agiles”</p>
				      		</div>
				      	</div>
				      </div>
				  <li>
				  </ul>



				  				  <ul class="collapsible " data-collapsible="accordion">
				 <li>
				 	 <div class="collapsible-header"><i class="material-icons">live_help</i>Compromiso individual</div>
				      <div class="collapsible-body">
							<div class="row">

				      		<div class=" col s4">
				      			<img src="/images/ci.png" class="responsive-img" alt="">
				      		</div>
				      		<div class="col s8">
				      			<p>Ciertos compromisos deben ser asumidos por personas específicas en fechas específicas para asegurarse que sean efectuados. Ni las reglas ni los acuerdos de coordinación colectivos logran ese efecto. 
EJEMPLO: “Yo me ofrezco, el producto estará el próximo jueves”.</p>
				      		</div>
				      	</div>
				      </div>
				  <li>
				  </ul>



				  				  <ul class="collapsible " data-collapsible="accordion">
				 <li>
				 	 <div class="collapsible-header"><i class="material-icons">live_help</i>Acuerdos de Coordinación</div>
				      <div class="collapsible-body">
							<div class="row">

				      		<div class=" col s4">
				      			<img src="/images/ci.png" class="responsive-img" alt="">
				      		</div>
				      		<div class="col s8">
				      			<p>La coordinación grupal requiere acuerdos asumidos por todos. Si no son normas comunes o compromisos individuales se deben tratar como acuerdos de coordinación. 
EJEMPLO: “Hay acuerdo que las reuniones, desde hoy, sean a las 8:15”</p>
				      		</div>
				      	</div>
				      </div>
				  <li>
				  </ul>

				  				  <ul class="collapsible " data-collapsible="accordion">
				 <li>
				 	 <div class="collapsible-header"><i class="material-icons">live_help</i>Tarea</div>
				      <div class="collapsible-body">
							<div class="row">

				      		<div class=" col s4">
				      			<img src="/images/ta.png" class="responsive-img" alt="">
				      		</div>
				      		<div class="col s8">
				      			<p>Acción emprendida por una persona para lograr un objetivo. Aunque es obvio que un compromiso da lugar a una tarea. Resolver desacuerdos, enfrentar dudas, implementar normas, o la coordinación grupal dan origen a nuevas tareas. 
EJEMPLO: “Hacer el plan prometido para las 12 am del jueves”</p>
				      		</div>
				      	</div>
				      </div>
				  <li>
				  </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">live_help</i>Estructura de un mensaje</div>
      <div class="collapsible-body container">
      	<div class="row"> <div class="col s8 offset-s4"><img src="images/screenmensaje.png" alt=""  class="responsive-img"></div></div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">live_help</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
		
	</div>

</div>

<div class="row"> <div class="col s8 offset-s4"><img src="images/screenmensaje.png" alt=""  class="responsive-img"></div></div>