
    <!--STYLES-->
    <!--STYLES END-->
    <!--SCRIPTS-->
    <!--SCRIPTS END-->

<div class= "row" id="login-form">

      

   <div class=" z-depth-4 card-panel col s4 offset-s4 ">
     <form action="/session/create" class ="login-form" method="post">

       <div class="row margin">
      <h4 class="input-field col s12 header center light-green-text "> Iniciar sesi칩n Visual Mail</h5>
        <img class="col s4 offset-s4"src="/images/iconologin.png" alt="">
       </div>
       <div class= "row ">
         <div class="input-field col s10 offset-s1">
           <i class= "light-green-text small material-icons prefix">
             person_pin</i>
           <input type="text" name="email" id="email" >
           <label for="email" class="center-align"> Email</label>
         </div>

       </div>
       <div class="row ">
         <div class="input-field col s10 offset-s1">
           <i class="light-green-text small material-icons prefix"> lock</i>
           <input type="password" name="password" id="email">
           <label for="password" class="center-align">Contrase침a</label>
         </div>
                <!--<div class="row">
         <div class= "input-field col s6 offset-s1 login-text">
           <input type="checkbox" id="remember-me" value="remember-me ">
           <label for="remember-me"> Recordar</label>
         </div>
       </div>-->

       </div>
 
       <div class="row  container"> 
          <button type="submit" class="waves-effect waves-light btn-large light-green col s6" value="Crear cuenta"> Iniciar Sesi칩n </button>
          <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
       </div>
       <div class="row ">
         <div class="col s6"><a href="/"> Registrate</a></div>
         <div class="col s6 "><a href="/"> Olvido contrase침a</a></div>
       </div>

     </form>

   </div>

</div>
