<div class= "container-center">
  	<br>
 <div class = "carta">
    <form class="col s12" action = "/session/create" method = "post">
<% if(flash && flash.err){ %>
<ul>
  <% Object.keys(flash.err).forEach(function(error){ %>
  <li><%= JSON.stringify(flash.err[error])%></li>
  <%})%>
</ul>
<% } %>


 
     
       <div class="row">
        <div class="input-field  col s6">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Contraseña</label>
        </div>
      </div>
     
      <button type="submit" class="waves-effect waves-light btn-large" value="Crear cuenta"> Enviar </button>
      <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
    </form>
  
  <br>
  </div>  

  </div>
