<div class="container">
    <h3><span class="glyphicon glyphicon-lock"></span> Modificar la contraseña</h3>
    <hr />

    <form action="/session/passwordUpdate" name="vm.formContenido" method="post">
        
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                    <label for="userPassword">Contraseña actual</label> 
                    <input class="form-control" id="userPassword" maxlength="20" minlength="6" name="userPassword" placeholder="Contraseña de inicio de sesión" required="required" type="password" /> 
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row"> 
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                    <label for="userPasswordNew">Nueva contraseña</label> 
                    <input class="form-control" id="userPasswordNew" maxlength="20" minlength="6" name="userPasswordNew" placeholder="Mínimo 6 caracteres, máximo 20 caracteres" required="required" type="password" /> 
                </div> 
            </div> 
        </div>

        <div class="form-group">
            <div class="row"> 
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                    <label for="userPasswordConfirm">Nueva contraseña</label> 
                    <input class="form-control" id="userPasswordConfirm" maxlength="20" minlength="6" name="userPasswordConfirm" placeholder="Ingresa otra vez la nueva contraseña" required="required" type="password" /> 
                </div> 
            </div> 
        </div>

        <div class="form-group">
            <div class="row"> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                    <button class="btn btn-success" type="submit"> 
                        <span class="glyphicon glyphicon-save"></span> Guardar cambios 
                    </button> 
                    <input type="hidden" name="_csrf" value="<%= _csrf%>" /> 
                </div> 
            </div> 
        </div>

        <% if(session.passwordMessage) { %>
        <% if(session.passwordMessage.result) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert"> 
        <% } else { %>  
        <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
        <% } %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                <span aria-hidden="true">&times;</span> 
            </button> 
            <strong>¡Atención!</strong> <%= session.passwordMessage.message %>
        </div>
        <% } delete session.passwordMessage; %>
    </form>
</div>