<script>
  var $mensaje1 = $('<span class="  color_acentuado-text"> La clave ingresada es válida</span>');
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
  var $mensaje2 = $('<span class="  color_acentuado-text"> La clave ingresada no es válida</span>');
  var $mensaje3 = $('<span class="  color_acentuado-text"> Su contraseña ha sido actualizada</span>');
  var $mensaje4 = $('<span class="  color_acentuado-text"> Ocurrió un error</span>');
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });

</script>

<div class= "row boxer" ng-controller="RecoverPageCtrl" >
   <div class=" z-depth-4 card-panel col s4 offset-s4 ">
     
       <div class="row ">
      
        <img class="col s6 offset-s3"src="/images/iconobigsinfondo.png" alt="">
       <div class ="row center">
          <h4 class=" light-green-text"> Recuperar clave Visual Mail:</h4>
       </div>
       </div>

    <div ng-show="mostrar">
      <form name="formclave">
       <div class= "row ">

         <div class="input-field col s10">
           <i class= "light-green-text small material-icons prefix">
             person_pin</i>
           <input type="text" name="clave" id="clave" ng-model="clave" ng-required="true">
           <label for="clave" > Ingrese la clave recibida por correo</label>
         </div>
            <div ng-messages="formclave.clave.$error" role="alert" class="col s2 centerme red-text" >
            <div ng-message="required"><i class="small material-icons red-green-text">error_outline</i></div>
         </div>
       </div>

    
       <div class="row  container"> 
          <button type="submit" ng-show="formclave.clave.$valid" class="waves-effect waves-light btn-large light-green col s6" ng-click="sendData()" > Verificar clave</button>
          
       </div>
       </form>
    </div>

    <div ng-show="mostrarpost" class="">
 
    
    <form  name="passrecoverform"  novalidate>
    <div class= "row tooltipped" data-position="top" data-delay="50" data-tooltip="Ingrese un valor alfanúmerico, mínimo ingrese 6 carácteres">
         <div class="input-field col s7 offset-s1 ">
          <input 

          id="password" type="password"  name="password" ng-model="password" ng-required="true" ng-pattern="/^[a-zA-Z0-9]*$/" ng-minlength="6" ng-maxlength="20" >
          <label for="password"  >Ingrese su nueva contraseña</label>
         </div>
      <div ng-messages="passrecoverform.password.$error" role="alert" class="col s4 centerme red-text" >
              <div ng-message ="required"> <i class="small material-icons red-green-text">error_outline</i></div>
            <div ng-message="pattern">Formato no válido</div>
            <div ng-message="minlength">Mínimo 6 caracteres</div> 
            <div ng-message ="maxlength">Contraseña muy larga</div>
            <div ng-show="passrecoverform.password.$valid"><i class="small material-icons light-green-text">done</i></div>
          </div>

           </div>
          <div class="row ">
         <div class="input-field col s7 offset-s1">
           <input type="password" name="confirmpassword" id="confirmpassword" ng-model="confirmpassword" ng-required="true" compare-to="password">
           <label for="confirmpassword" >Confirmar Contraseña</label>
         </div>
           <div ng-messages="passrecoverform.confirmpassword.$error" role="alert" class="col s4 centerme red-text" >
              <div ng-message ="required"> <i class="small material-icons red-green-text">error_outline</i></div>
              <div ng-message="compareTo"> La contraseña no coincide</div>
            <div ng-show="passrecoverform.confirmpassword.$valid"><i class="small material-icons light-green-text">done</i></div>
          </div>
       </div>

      <div class="row  container"> 
          <button ng-show="passrecoverform.$valid" type="submit" class="waves-effect waves-light btn-large light-green col s8 " ng-click="actualizar_pass()" > Actualizar clave </button>
      </div>





    </form>
    </div>
    
    <div ng-show="confirmacion" class="row container">
      <h6 class="green-text"> Se ha actualizado su nueva contraseña</h6>
        <a href="/session/login" class="waves-effect waves-light btn-large light-green col s8 "> Iniciar seśión</a>
    </div>


    </div>
</div>