<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        <div class="row hide-on-small-only">
            <a class="btn-large waves-effect blue white-text darken-text-2" href="/session/login">
                <i class="material-icons left">input</i>
                Iniciar sesión
            </a>
            <a class="btn-large waves-effect blue white-text darken-text-2" href="/session/signin">
                <i class="material-icons left">mode_edit</i>
                Registrarse
            </a>
        </div>
        <div class="row hide-on-med-and-up">
                <div class="col s12">
                    <a class="btn-large waves-effect blue white-text darken-text-2 col s12" href="/session/login">
                        <i class="material-icons left">input</i>
                        Iniciar sesión
                    </a>
                    <a class="btn-large waves-effect blue white-text darken-text-2 col s12" href="/session/signin">
                        <i class="material-icons left">mode_edit</i>
                        Registrarse
                    </a>
                </div>
        </div>
    </div>
    <div class="carousel-item white-text fondo1" href="#one!">
        <h2>Tablero Kanban</h2>
        <p class="white-text">Organiza tus tareas en equipo</p>
    </div>
    <div class="carousel-item white-text fondo2" href="#two!">
        <h2>VisualMail</h2>
        <p class="white-text">Gestiona la comunicación en tus proyectos de forma ágil</p>        
        <img src="/images/icon716x573.png" style="height: 400px; width: 500px;" />
    </div>

</div>
<div class="container">

    <div class="section">

        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Comunicación ágil</h5>
                    <p class="light"> La aplicación contiene una interfaz de comunicación novedosa que permite llevar la deriva de la comunicación dentro de un proyecto</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Trabajo en equipo</h5>
                    <p class="light">Los equipos de desarrollo se pueden comunicar y establecer tareas en un tablero kanban</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Experiencia de usuario</h5>
                    <p class="light">Visual Mail es una apliación enfocada en la usabilidad</p>
                </div>
            </div>
        </div>
        
    </div>
  
</div>

<% sectionScripts = "<script src='js/src/homepage.js'></script>" %>