<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%=typeof title == 'undefined' ? 'Visual Mail' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>



    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
   
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/materialize.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular/angular.min.js"></script>
    <script src="/js/dependencies/angular/angular-messages.js"></script>
    <script src="/js/dependencies/angular/angular-compare.js"></script>
    <script src="/js/dependencies/angular/angular-rut-validator.js"></script>
    <script src="/js/dependencies/jquery/jquery.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/init.js"></script>
    <!--SCRIPTS END-->

<script>
var compareTo = function() {
    return {
        require: "ngModel",
        scope: {
            otherModelValue: "=compareTo"
        },
        link: function(scope, element, attributes, ngModel) {

            ngModel.$validators.compareTo = function(modelValue) {
                return modelValue == scope.otherModelValue;
            };

            scope.$watch("otherModelValue", function() {
                ngModel.$validate();
            });
        }
    };
};

   var app= angular.module('app',['ngMessages','gp.rutValidator']).directive('capitalize', function() {
    return {
      require: 'ngModel',
      link: function(scope, element, attrs, modelCtrl) {
        var capitalize = function(inputValue) {
          if (inputValue == undefined) inputValue = '';
          var capitalized = inputValue.toUpperCase();
          if (capitalized !== inputValue) {
            modelCtrl.$setViewValue(capitalized);
            modelCtrl.$render();
          }
          return capitalized;
        }
        modelCtrl.$parsers.push(capitalize);
        capitalize(scope[attrs.ngModel]); // capitalize initial value
      }
    };
  }).directive("compareTo", compareTo);
   ;

</script>
  </head>
 <nav class="green darken-2" role="navigation">
    <div class="nav-wrapper  container">
         
      <% if (session.authenticated) {%>
      <a href="/user/view/<%=session.User.id%>"  class="brand-logo col s2"><img src="/images/iconosmall2.png" ></a>
      <%} else{%>
       <a href="/" class=" brand-logo "><img src="/images/iconosmall2.png"   alt=""></a>
      <%}%>
    
       
 
    
      <ul class="right hide-on-med-and-down ">
        <% if (session.authenticated) {%>
        <li><form action="/session/logout/" id="my_form"> <input type="hidden" name="_csrf" value="<%= _csrf%>"/> <a href="javascript:{}" onclick="document.getElementById('my_form').submit();" > Cerrar sesión</a> </form></li>
        <%} else{%>
        <li ><a class = "white-text" href="/user/signup/">Registrate</a></li>
        <li><a class = "white-text" href="/session/login/">Iniciar Sesión</a></li>
        <%}%>
      </ul>


      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <body>


    
    <%- body %>


    <!-- FOOTER -->
 <footer class="page-footer green darken-2">
    <div class="container">
    
        <div class="container">
          <h5 class="white-text center-align">Visual Mail</h5>
          <p class="grey-text text-lighten-4 center-align">
            Visual Mail es un proyecto de titulación de Matías Quinteros, alumno del Departamento de Ingeniería Informática de la Universidad de Santiago
            de Chile
          </p>
        </div>



    </div>


    <div class="footer-copyright">
      <div class="container">
       <a class="brown-text text-lighten-3" href="/">Visual Mail 2016</a>
      </div>
    </div>
  </footer>

  </body>
   
</html>
