<div style="color: #263238">
    <p><h1> Estimado <%= recibe %>:</h1></p>
    <br />
    <p>Hemos recibido una solicitud para recuperar tu contraseña.</p>
    <p>Para recuperarla sigue este enlace: https://visualmailplus.herokuapp.com/session/recover/</p>
    <p>He ingresa esta clave: <%= clave %></p>
    <br>
    <h6> Se despide, Visual Mail</h6>
</div>