<div class="container" ng-controller="AdminController as vm">
    <h3 class="green-text">Administrar usuarios</h3>
    <div class="row">
        <div class="col s12 m12 l12 card-panel"> 
            <table ng-table="vm.tableParams" class="bordered highlight table-ng"> 
                <tr ng-repeat="row in $data track by row.id"> 
                    <td data-title="'Nombre'" filter="{firstname: 'text'}" sortable="'firstname'">{{row.firstname}}</td> 
                    <td data-title="'Apellido'" filter="{lastname: 'text'}" sortable="'lastname'">{{row.lastname}}</td> 
                    <td data-title="'Correo electrónico'" filter="{email: 'text'}" sortable="'email'">{{row.email}}</td> 
                    <td data-title="'Rol de usuario'" sortable="'rol'">{{row.rol === 1 ? "Administrador" : "Usuario"}}</td> 
                    <td>
                        <span class="btn-floating" style="cursor: default !important; background-color: #{{ row.color }}"></span>
                    </td>
                    <td>
                        <button class="btn-floating waves-effect waves-light teal darken-1" type="button" 
                            ng-click="vm.onBtnModalUserClick('Update', row)"><i class="material-icons">mode_edit</i></button>
                    </td>
                </tr> 
            </table> 
        </div>
    </div>
    
    <!-- Inicio botón modal user -->
    <div class="fixed-action-btn"> 
        <button class="btn-floating btn-large blue darken-1" type="button" 
            ng-click="vm.onBtnModalUserClick('Insert')"><i class="large material-icons">add</i></button> 
    </div> 
    <!-- Fin botón modal user -->

    <!-- Inicio modal user -->
    <div id="modalUser" class="modal"> 
        <form name="vm.formUser"> 
            <div class="modal-content"> 
                <h4>{{ vm.proceso === "Insert" ? "Nuevo usuario" : "Modificar usuario" }}</h4> 
                <div class="card-panel">

                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="col s12 input-field">
                                <input id="userFirstName" name="userFirstName" type="text" 
                                    ng-maxlength="15" 
                                    ng-minlength="3" 
                                    ng-model="vm.userFirstName" 
                                    ng-pattern="/^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u" />
                                <label for="userFirstName">Nombre(s) (Requerido)</label>
                                <div class="red-text" role="alert" ng-messages="vm.formUser.userFirstName.$error">
                                    <span ng-message="minlength">Mínimo 3 caracteres</span>
                                    <span ng-message="maxlength">Nombre muy largo</span>
                                    <span ng-message="pattern">Formato no válido</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6 l6">
                            <div class="col s12 input-field">
                                <input id="userLastName" name="userLastName" type="text" 
                                    ng-maxlength="30" 
                                    ng-minlength="3" 
                                    ng-model="vm.userLastName" 
                                    ng-pattern="/^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u" />
                                <label for="userLastName">Apellido(s) (Requerido)</label>
                                <div class="red-text" role="alert" ng-messages="vm.formUser.userLastName.$error">
                                    <span ng-message="minlength">Mínimo 3 caracteres</span> 
                                    <span ng-message="maxlength">Apellido muy largo</span>
                                    <span ng-message="pattern">Formato no válido</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="col s12">
                                <label for="userRol">Rol (Requerido)</label>
                                <select class="browser-default" id="userRol" name="userRol" 
                                    ng-model="vm.userRol">
                                    <option value="-1">Seleccionar</option>
                                    <option value="2">Usuario</option>
                                    <option value="1">Administrador</option>
                                </select>
                                <div class="red-text" role="alert" ng-messages="!vm.formUser.userRol.$pristine && vm.userRol === '-1'">
                                    <span ng-message="minlength">3 caracteres</span>
                                    <span ng-message="maxlength">No pueden ser más de 3 carácteres</span>
                                    <span ng-message="pattern">Formato no válido</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="col s12 input-field">
                                <input capitalize class="tooltipped" id="userInitials" name="userInitials" type="text" 
                                    data-delay="50" 
                                    data-position="top" 
                                    data-tooltip="Ingresa 3 caracteres con las iniciales del nombre/apellido" 
                                    ng-maxlength="3" 
                                    ng-minlength="3" 
                                    ng-model="vm.userInitials" 
                                    ng-pattern="/^[a-zA-Z]+$/" 
                                    ng-required="true" />
                                <label for="userInitials">Iniciales (Requerido)</label>
                                <div class="red-text" role="alert" ng-messages="vm.formUser.userInitials.$error">
                                    <span ng-message="minlength">3 caracteres</span>
                                    <span ng-message="maxlength">No pueden ser más de 3 carácteres</span>
                                    <span ng-message="pattern">Formato no válido</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="col s12 input-field">
                                <input class="tooltipped" id="userEmail" name="userEmail" type="email"
                                    data-delay="50" 
                                    data-position="top" 
                                    data-tooltip="hola@visualmail.com" 
                                    ng-model="vm.userEmail" 
                                    ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" 
                                    ng-required="true" />
                                <label for="userEmail">Email (Requerido)</label>
                                <div class="red-text" role="alert" ng-messages="vm.formUser.userEmail.$error">
                                    <span ng-message="email">Formato no válido</span>
                                    <span ng-message="pattern">Formato no válido</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="col s12 m6 l9 input-field">
                                <input id="imgurl" name="imgurl" type="text" 
                                    ng-model="vm.userImgUrl" />
                                <label for="userImgUrl">URL imagen (Opcional)</label>
                                <!-- pattern="https?://.+"-->
                            </div>
                            <div class="col s12 m6 l3 input-field tooltipped" 
                                data-delay="50" 
                                data-position="top" 
                                data-tooltip="Selecciona un color de interacción">
                                <input class="jscolor" id="color" name="color" placeholder="#FFFFFF" type="text" 
                                    ng-style="{ 'background-color': vm.userColor ? '#' + vm.userColor : 'none' }"
                                    ng-model="vm.userColor" 
                                    ng-required="true" />
                                <label for="color">Color de interacción</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12 right-align"> 
                        <button class="modal-action modal-close waves-effect waves-light btn blue darken-1">Cerrar</button>&nbsp;
                        <button class="waves-effect waves-light btn green darken-1" type="submit" 
                            ng-click="vm.onBtnUserGuardarClick()" 
                            ng-disabled="!vm.formUser.$valid || vm.userRol === '-1'">Guardar</button>
                    </div>
                </div>


            </div> 
        </form> 
    </div>
    <!-- Fin modal user -->

</div>