
<div id="vistaprincipal" class="boxer" ng-controller="editUserCtrl">
  
  <div class=" container">
    <br>
    <div class="card-panel" id="contenedor_form">
    <form name="update_campos" novalidate>
      <div class="row col">
        <div class="row col s12">
          <div class="col s8 offset-s1 ">
            <h3 class=" green-text"> Actualizar campos</h3>
            <h6 class="green-text "> Los campos nulos no se actualizarán. </h6>
          </div>
        </div>
        <div class= "row col s12">
         <div class="input-field col s7 offset-s1">
          
           <input id="firstname" type="text"  name="firstname" ng-model="firstname" ng-minlength="3" ng-maxlength="15" >
          <label for="firstname"   >Nombre</label>
         </div>
          <div ng-messages="update_campos.firstname.$error" role="alert" class="col s4 centerme red-text" >
            <div ng-message="minlength">Mínimo 3 caracteres</div> 
            <div ng-message ="maxlength">Nombre muy largo</div>
           
         </div>
        </div>

        <div class= "row col s12">
         <div class="input-field col s7 offset-s1">
          <input  id="lastname" type="text"  name="lastname" ng-model="lastname" ng-minlength="5" ng-maxlength="30">
          <label for="lastname"   >Apellidos</label>
         </div>
        <div ng-messages="update_campos.lastname.$error" role="alert" class="col s4 centerme red-text" >
            
            <div ng-message="minlength">Mínimo 5 caracteres</div> 
            <div ng-message ="maxlength">Apellido muy largo</div>
     
         </div>
        </div>

        <div class= "row col s12 ">
         <div class="input-field col s7 offset-s1">
           <input  id="imgurl" type="text" name="imgurl" placeholder="http://">
          <label for="imgurl" >URL imagen</label>
          <!-- pattern="https?://.+"-->
         </div>
        </div>


             <div class= "row col s12">
         <div class="input-field col s7 offset-s1">
               <input  id="initials" type="text"  name="initials" ng-model="initials" ng-minlength="3" ng-maxlength="3" capitalize>
          <label for="initials"   >Iniciales</label>
         </div>
         
        <div ng-messages="update_campos.initials.$error" role="alert" class="col s4 centerme red-text" >
            
            <div ng-message="minlength">3 caracteres</div> 
            <div ng-message ="maxlength">No pueden ser más de 3 carácteres</div>

        </div>
            </div>
     <div class="row col s12">
          <div class="col s8 offset-s1">
                <button type="submit" ng-click="actualizar_campos" 
                  class="waves-effect waves-light btn-large light-green col s6">  Actualizar campos</button>
          </div>
          
        </div>



      </div>
    </form>
    </div>
  </div>
 
  <div class="container">
    <div class="card-panel">
    <form name="update_password" novalidate>
       <div class= "row ">

        <div class="row col s12">
          <div class="col s8 offset-s1 ">
            <h3 class=" green-text"> Cambiar contraseña</h3>
          </div>
        </div>

    <div class= "row col s12">
         <div class="input-field col s7 offset-s1 ">
          <input class="tooltipped" data-position="top" data-delay="50" data-tooltip="valor alfanúmerico, mínimo ingrese 1 minúscula, mayúscula y número"

          id="password" type="password"  name="password" ng-model="password" ng-required="true" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-minlength="8" ng-maxlength="20" >
          <label for="password"  >Contraseña</label>
         </div>
      <div ng-messages="update_password.password.$error" role="alert" class="col s4 centerme red-text" >
              <div ng-message ="required"> <i class="small material-icons red-green-text">error_outline</i></div>
            <div ng-message="pattern">Formato no válido</div>
            <div ng-message="minlength">Mínimo 8 caracteres</div> 
            <div ng-message ="maxlength">Contraseña muy larga</div>
            <div ng-show="update_password.password.$valid"><i class="small material-icons light-green-text">done</i></div>
          </div>
           </div>
           
          <div class="row col s12 ">
         <div class="input-field col s7 offset-s1">
           <input type="password" name="confirmpassword" id="confirmpassword" ng-model="confirmpassword" ng-required="true" compare-to="password">
           <label for="confirmpassword" >Confirmar Contraseña</label>
         </div>
           <div ng-messages="update_password.confirmpassword.$error" role="alert" class="col s4 centerme red-text" >
              <div ng-message ="required"> <i class="small material-icons red-green-text">error_outline</i></div>
              <div ng-message="compareTo"> La contraseña no coincide</div>
            <div ng-show="update_password.confirmpassword.$valid"><i class="small material-icons light-green-text">done</i></div>
          </div>
       </div>
        <div class="row col s12">
          <div class="col s8 offset-s1">
                <button type="submit"  ng-click="actualizar_password" ng-show="update_password-$valid"
                  class="waves-effect waves-light btn-large light-green col s6">  Actualizar contraseña</button>
          </div>
          
        </div>
  
       </div>
    </form>
  </div>
</div>
</div>

