<div class="container">
    <div class="card-panel">
        <h3 class="green-text">Modificar la contrase単a</h3>
        <form action="/user/passwordActualizar" method="post" name="formPassword">
            <div class="row"> 
                <div class="col s12 m6 l4 input-field"> 
                    <label for="userPassword">Contrase単a actual</label> 
                    <input class="validate" id="userPassword" name="userPassword" required="required" type="password" /> 
                </div>
            </div> 
            <div class="row"> 
                <div class="col s12 m6 l4 input-field"> 
                    <label for="userPasswordNew">Nueva contrase単a</label> 
                    <input class="validate" id="userPasswordNew" name="userPasswordNew" required="required" type="password" /> 
                </div> 
            </div> 
            <div class="row"> 
                <div class="col s12 m6 l4 input-field"> 
                    <label for="userPasswordConfirm">Confirmar contrase単a</label> 
                    <input class="validate" id="userPasswordConfirm" name="userPasswordConfirm" required="required" type="password" />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="waves-effect waves-light btn-large" type="submit">
                        Guardar cambios
                    </button>
                    <input type="hidden" name="_csrf" value="<%= _csrf%>" />
                </div>
            </div>
            <% if(session.passwordMessage) { %>
            <% if(session.passwordMessage.result) { %>
            <div class="row container card green darken-1 col s8 offset-s2">
            <% } else { %>  
            <div class="row container card red lighten-1 col s8 offset-s2">
            <% } %>
                <div class="card-content white-text center">
                    <strong><%= session.passwordMessage.message %></strong>
                </div>
            </div>
            <% } delete session.passwordMessage; %>

        </form>
    </div>
</div>