

   <div class= "row " id="signup-form" >
   <div class=" z-depth-4 card-panel col s4 offset-s4 ">
     <form name="signupform" action="/user/create" class ="signup-form" method="post">


       <div class="row margin">
        <h5 class ="col s12 light-green-text center"> Crear una nueva Cuenta Visual Mail </h5>
       </div>

         <div class= "row ">
         <div class="input-field col s7 offset-s1">
           <input  id="firstname" type="text" class="validate" name="firstname">
          <label for="firstname"   >Nombre</label>
         </div>
   </div>
   
    <div class= "row ">
         <div class="input-field col s7 offset-s1">
          <input  id="lastname" type="text" class="validate" name="lastname">
          <label for="lastname"   >Apellidos</label>
         </div>
            </div>
   
             <div class= "row ">
         <div class="input-field col s7 offset-s1">
           <input  id="imgurl" type="text" class="validate" name="imgurl">
          <label for="imgurl" >URL imagen</label>
         </div>
            </div>
   
         <input type="hidden" id="pmo" type="boolean" name="pmo" value="true"/>
             <div class= "row ">
         <div class="input-field col s7 offset-s1">
               <input id="email" type="email" class="validate" name="email" placeholder="hola@hila.cl">
          <label for="email"  >Email</label>
         </div>
            </div>
   
             <div class= "row ">
         <div class="input-field col s7 offset-s1">
               <input  id="initials" type="text" class="validate" name="initials">
          <label for="initials"   >Iniciales</label>
         </div>
            </div>
   
             <div class= "row ">
         <div class="input-field col s7 offset-s1">
               <input id="password" type="password" class="validate" name="password">
          <label for="password"  >Contraseña</label>
         </div>
           </div>
   



 
       <div class="row  container"> 
          <button type="submit" class="waves-effect waves-light btn-large light-green col s6" value="Crear cuenta">  Crear cuenta</button>
          <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
       </div>

             <div class ="row">
          <div class="col s7 offset-s1">
            <% if(flash && flash.err){ %>
              <h6 class="red-text"> Ocurrió un error </h6>
            <!--
              <% Object.keys(flash.err).forEach(function(error){ %>
              <li><%= JSON.stringify(flash.err[error])%></li>
              <%})%>
            -->
          
          <% } %>

        </div>
       </div>




  </form>
    </div>
</div>