<script>
 

 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal('modal_nuevo_proyecto');
      $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
  });
  
var id = '<%=session.User.id%>';
var email='<%=session.User.email%>';
var $mensaje1 = $('<span class="  color_acentuado-text"> Se ha creado el nuevo proyecto</span>');
var $mensaje2 = $('<span class="  color_acentuado-text"> El nombre del proyecto ya existe, no se ha creado el nuevo proyecto </span>');
var $mensaje3 = $('<span class="  color_acentuado-text"> Ocurrió un error al guardar el proyecto </span>');
</script>

<div ng-controller="createProjectCtrl">
  
  <div class=" principalproject green-text">

    <h5> Mis proyectos</h5>
  </div>
  <div class="row">
     
      <div class="row col s5 offset-s1">
    <h6 class="green-text"> Mis proyectos activos</h6>

    <div class="card-panel scrollactivos">
      <div class="row">
        <div class="col s1">
          <br>
          <i class="material-icons light-green-text prefix">search</i>
        </div>
        <div class="col s6 input-field">
          <input type="search" ng-model="busqueda" id="search" >
          <label for="search" class="green-text"> Buscar</label>
        </div>
      </div>
      <div ng-repeat="x in miusuario | filter:busqueda" ng-model="miusuario">
        <a ng-href="/project/edit/{{x.id}}" ng-if="x.owner_email==mi_email">
          <div class="col s6 " >
            <div class="card green hoverable "> 
              <div class="card-content white-text" > {{x.name}}  </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row col s5">
      <h6 class="green-text"> Proyectos en los que participas</h6>
   <div id="participo" class="row card-panel scrollparticipo">
        <div class="row">
        <div class="col s1">
          <br>
          <i class="material-icons light-green-text prefix">search</i>
        </div>
        <div class="col s6 input-field">
          <input type="search" ng-model="busqueda_participo" id="search" >
          <label for="search" class="green-text"> Buscar</label>
        </div>
      </div>
      <div ng-repeat="x in miusuario| filter:busqueda_participo" ng-model="miusuario">
        <a ng-href="/project/edit/{{x.id}}" ng-if="x.owner_email!=mi_email">
          <div class="col s6" >
            <div class="card  light-green lighten z-depth-2"> 
              <div class="card-content white-text" > {{x.name}}  </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div id="crear" class="row card-panel">

  
           <h6 class="green-text"> Crear un nuevo proyecto</h6>
      
      <div class="">
      <form name="crearproyectoform" novalidate>
        
          <div class="col s4">
            <input id="name_project" type="text"  name="name_project" ng-model="name_project" ng-minlength="3" ng-maxlength="23" ng-required="true" >
            <label for="name_project"   >Nombre del projecto</label> 
          </div>
          <div ng-messages="crearproyectoform.name_project.$error" role="alert" class="col s2 centerme red-text" >
            <div ng-message ="required"> <i class="small material-icons red-green-text">error_outline</i></div>
            <div ng-message="minlength">Mínimo 3 caracteres</div> 
            <div ng-message ="maxlength">Nombre muy largo</div>
            <div ng-show="crearproyectoform.name_project.$valid"><i class="small material-icons light-green-text">done</i></div>
          </div>
       
   
          <div class="col s4">
             <input type="text" class="datepicker" name="finishdate" ng-model="finish_date" ng-required="true">
              <label for="finishdate"   >Fecha límite del proyecto</label> 
          </div>
           <div ng-messages="crearproyectoform.finishdate.$error" role="alert" class="col s2 centerme red-text" >
            <div ng-message ="required"> <i class="small material-icons red-green-text">error_outline</i></div>
            <div ng-show="crearproyectoform.finishdate.$valid"><i class="small material-icons light-green-text">done</i></div>
          </div>
      
      </form>
      <div class= "row col s6">
         <div class="card  grey z-depth-2 waves-effect waves" ng-show="crearproyectoform.$valid" ng-click="crearProyecto()"> 
        <div class="card-content black-text" > Crear nuevo Projecto </div>
      </div>
      </div>
    </div>

    

    </div>

  </div>
    

  </div>
</div>



  <!--¿
  <div id="modal_nuevo_proyecto" class="modal modal-fixed-footer">
    <form name="crearproyectoform" novalidate>
    <div class="modal-content">
      <h4 class="light-green-text">Crear un nuevo proyecto </h4>
      <div class= "container">
        <div class="row">
          <div class="col s8">
            <input id="name_project" type="text"  name="name_project" ng-model="name_project" ng-minlength="3" ng-maxlength="25" ng-required="true" >
            <label for="name_project"   >Nombre del projecto</label> 
          </div>
          <div ng-messages="crearproyectoform.name_project.$error" role="alert" class="col s4 centerme red-text" >
            <div ng-message ="required"> <i class="small material-icons red-green-text">error_outline</i></div>
            <div ng-message="minlength">Mínimo 3 caracteres</div> 
            <div ng-message ="maxlength">Nombre muy largo</div>
            <div ng-show="crearproyectoform.name_project.$valid"><i class="small material-icons light-green-text">done</i></div>
          </div>
        </div> 
        <div class="row">
          <div class="col s8">
             <input type="date" class="datepicker" name="finishdate" ng-model="finish_date" ng-required="true">
              <label for="finishdate"   >Fecha límite del proyecto</label> 
          </div>
           <div ng-messages="crearproyectoform.finishdate.$error" role="alert" class="col s4 centerme red-text" >
            <div ng-message ="required"> <i class="small material-icons red-green-text">error_outline</i></div>
            <div ng-show="crearproyectoform.finishdate.$valid"><i class="small material-icons light-green-text">done</i></div>
          </div>
        </div> 
       
