/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.carta{
   padding-bottom: 50px;
   padding-top: 50px;

  /*max-width: 500px;*/
  /*margin: 50px auto;*/
  /*padding: 10px 20px;
 
  /*border: 2px solid #C8E6C9;*/
  /*background: #e8f5e9;*/
  /*box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);*/
  /*border-radius: 8px;*/
}

.carta form{
   max-width: 100%;
}
.principalproject{
  padding: 10px 20px;
   margin: 10px auto;
}
.centerme{
 margin: 30px auto;

}
.centerlogin{
 margin: 40px auto;

}
.dos{
  color: #000;
  width: 50px!important;
}
.color_primario{
  background: #388E3C  ;

}
.color_secundario{
  background: #388E3C ;

}
.color_terciario{
  background: #C8E6C9 ;

}
.color_acentuado{
  background: #8BC34A;
}
.border_red{
      border-bottom: 1px solid #b71c1c ;
     margin: 40px auto;


}

.backdrop{
       background-color: #388E3C;
     }

.contenedor_proyect{
  padding: 50px;
  /*border: 2px solid #C8E6C9;*/
}
.scroll{
  overflow-y: auto; height:190px; 

}
.scroll_table{
  overflow-y: auto; height:500px; 

}
.boxer {
    top: 0;
    left: 0;
    padding-bottom: 150px;
    height: 100%;
}

.border_estilo{
  border-top: 2px solid #1b5e20;
  /*border-radius: 8px;*/
  box-shadow: 0px 0px  rgba(0,0,0,0.75);
}

.contenedor_navegador{
  padding-bottom: 150px;
  margin: 10px auto;
}

.centrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}