/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .main { 
  height: 600px; 
  width: 100%; 
  overflow: scroll;
 }
.main-avatar { display: inline-block; height: 45px !important; position: relative; right: 15px; top: .5em; width: 45px; } 
.main-logo { display: inline-block; height: auto; padding: .2em 0em 1.6em; position: relative; width: auto; } 
.main-logo > img { height: 50px; width: 50px; } 
.main-menu-btn { background-color: transparent; background-image: none; border: 1px solid transparent; border-color: transparent; border-radius: 4px; display: inline-block; float: left; margin: 15px 15px 8px 0px; padding: 9px 10px; position: relative; } 
.main-menu-btn:hover { background-color: #ddd; outline: none; } 
.main-menu-btn .icon-bar { background-color: #FFF; border-radius: 1px; display: block; height: 2px; width: 22px; } 
.main-menu-btn .icon-bar + .icon-bar { margin-top: 4px; } 
.main-user-menu { width: 145px !important; } 

.resizable-panel-container { border: 1px solid silver; display: flex; flex-direction: row; height: 270px; left: 0; overflow: hidden; position: absolute !important; bottom: -1; width: 100%; xtouch-action: none; } 
.resizable-panel-left { background-color: #fff; flex: 0 0 auto; margin-top: 18px; min-height: 200px; min-width: 200px; padding: 10px; width: 50%;  } 
.resizable-panel-right { background-color: #fff; flex: 1 1 auto; margin: 18px 0px 0px 5px; min-height: 200px; padding: 10px; width: auto; z-index: 999; } 
.resizable-splitter { background: url(../images/vsizegrip.png) center center no-repeat #999; cursor: col-resize; flex: 0 0 auto; min-height: 200px; width: 18px; } 
.resizable-splitter-horizontal { background: url(../images/hsizegrip.png) center center no-repeat #999 !important; cursor: row-resize; flex: 0 0 auto; height: 18px; margin: 5px 0 0 0; } 


.principal {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    width: 100%;
    padding: 20px 0;
}

h5.sub {
   font-size: 125%; 
   font-family: 'Fira Sans', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.carta{
   padding-bottom: 50px;
   padding-top: 50px;

  /*max-width: 500px;*/
  /*margin: 50px auto;*/
  /*padding: 10px 20px;
 
  /*border: 2px solid #C8E6C9;*/
  /*background: #e8f5e9;*/
  /*box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);*/
  /*border-radius: 8px;*/
}

.carta form{
   max-width: 100%;
}
.principalproject{
  padding: 10px 20px;
  margin: 10px auto;
}
.contenedor_dialogo{
  height:500px;
}
.centerme{
 margin: 30px auto;

}
.centerlogin{
 margin: 40px auto;

}
.dos{
  color: #000;
  width: 50px!important;
}/*border: 2px solid #C8E6C9;*/
.color_primario{
  background: #388E3C  ;

}
.color_secundario{
  background: #4CAF50 ;

}
.color_terciario{
  background: #C8E6C9 ;

}
.color_acentuado{
  background: #8BC34A;
}
.border_red{
      border-bottom: 1px solid #b71c1c ;
     margin: 40px auto;


}

.backdrop{
       background-color: #388E3C;
     }

.contenedor_proyect{
  padding: 50px;
  /*border: 2px solid #C8E6C9;*/
}
.scroll{
  overflow-y: auto; height:190px; 

}
.scroll_table{
  overflow-y: auto; height:500px; 

}
.boxer {
    top: 0;
    left: 0;
    padding-bottom: 150px;
    height: 100%;
}

.border_estilo{
  border-top: 2px solid #1b5e20;
  /*border-radius: 8px;*/
  box-shadow: 0px 0px  rgba(0,0,0,0.75);
}

.contenedor_navegador{
  padding-bottom: 150px;
  margin: 10px auto;
}

.centrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.contenedorkanban{
  border: 3px solid #C8E6C9; 
  overflow-y: auto;
  height:510px; 

   
}
.contenedorkanbanheader{
  background: #C8E6C9;
  color:#4CAF50;


  
}

.textito{
  word-wrap: break-word;
}
.conheight{
  text-overflow-y:scroll;
  height:130px;
  width:250px;
  margin:10px;  
  border-radius: 8px;
  /*position : relative; bottom:0;*/
}
.heightmodal2{
    height:200px;
    overflow-y:auto;
    overflow-x:hidden;
}

.scrollactivos{
  overflow-y: auto; height:510px; 
}
.scrollparticipo{
  overflow-y: auto; height:220px; 

}
.scrolltablaparticipantes{
  overflow-y: auto; height:100px; 

}

.kanbanred{
  background: #F44336;
}
.kanbancyan{
  background: #00BCD4 ;
}
.kanbanblue{
  background: #3F51B5;
}
.kanbanorange{
  background: #FF9800 ;
}
.kanbanyellow{
  /*background: #B6B6B6;*/
  background:#FFEB3B;
}

.bubble 
{
position: relative;
background: #4CAF50;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #388E3C solid 2px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 16px 8px 0;
border-color: transparent #4CAF50;
display: block;
width: 0;
z-index: 1;
left: -16px;
top: 29px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 17px 9px 0;
border-color: transparent #388E3C;
display: block;
width: 0;
z-index: 0;
left: -19px;
top: 28px;
}



.bubble2 
{
position: relative;
background: #4CAF50;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #388E3C solid 2px;
}

.bubble2:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 0 8px 16px;
border-color: transparent #4CAF50;
display: block;
width: 0;
z-index: 1;
right: -16px;
top: 29px;
}

.bubble2:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 0 9px 17px;
border-color: transparent #388E3C;
display: block;
width: 0;
z-index: 0;
right: -19px;
top: 28px;
}
.conscroll{
  height:450px; 
  overflow-y: auto;
 padding-right:10px;
 overflow-x:hidden;
 margin-right:1220px;
}

.scrolled{
  overflow-y: auto;
 padding-right:10px;
 overflow-x:hidden;
 margin-right:1220px;
}


.margenimg{
  padding-top: 5px;
}


.node circle {
  fill: #8BC34A;
  stroke: black;
  stroke-width: 1.5px;
  transform: scale(1, 1);
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.
.linkFocus {
  fill: none;
  stroke: #ccc;
  stroke-width: 4.5px;
}
svg .focus  {
 color:black;
   background: #cff; border: 1px dashed black;
   fill:red xlink:href="#heart"
}

.node2 rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node2 text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #8BC34A;
  stroke-width: 1.5px;
}

.cajita
{
     display:inline-block;
}

.onlyborder{
border: 2px solid #388E3C;
padding-right: 10px;
}


.tooltip {
  position: absolute;
  width: 250px;
  height: 200px;
  pointer-events: none;
}
.tooltip {
position: absolute; 
  width: 210px;  
  height: 80px;   
  padding: 2px; 
  font: 10px sans-serif;  
background: #8BC34A;
  border: 0px;          
  border-radius: 8px;
  -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
 /*  pointer-events: none;  This line needs to be removed */
  pointer-events: none;
}


.tooltip:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0px 0px 0;
border-color: #FFEB3B transparent;
display: block;
width: 0;
z-index: 1;
bottom: -0px;
left: 8px;
}



.kanbanbubble 
{

position: relative;
width: 250px;
padding: 0px;
background: #FFEB3B;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
 margin:10px;  
   word-wrap: break-word;
}

.kanbanbubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0px 0px 0;
border-color: #FFEB3B transparent;
display: block;
width: 0;
z-index: 1;
bottom: -0px;
left: 8px;
}

